
@{
    Layout = null;
}
@model FlyAwayPlus.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
    <body>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/common.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        
        <div class="navbar navbar-custom" role="navigation">
            <div class="container">
                <a href="/Home/" class="navbar-brand">
                    <img src="/Images/FAP logo.png" alt="FAP" height="40" />
                </a>
            </div>
        </div>

            <div style="margin-left: 20px">
                <h2>@ViewBag.Title</h2>

                <div class="form-group">
                    <h3>Enter your email</h3>
                    <div>
                        <input id="email" name="email" class="form-control" type="text" style="width: 500px;height: 20px" maxlength="100" />
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <p></p>
                        <button id="submitBtn" type="button" class="btn btn-default">Send</button>
                    </div>
                </div>

                <div>
                    <p id="notification"></p>
                    <div id="progressbar" class="progress" style="width: 500px; display: none">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>
<script>
    $('#submitBtn').click(function (e) {
        $("#notification").hide();
        $("#progressbar").hide();
        //Check null
        if ($("#email").val() == "") {
            $("#notification").show();
            $("#notification").text("Please input your email!");
        } else {

            //Validate email
            var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

            if (!filter.test($("#email").val())) {
                $("#notification").show();
                $("#notification").text("Please provide a valid email address!");
            } else {
                $("#notification").hide();
                $("#progressbar").show();
                $.ajax({
                    url: "/Login/SendMail/",
                    type: 'POST',
                    dataType: 'json',
                    data: { email: $("#email").val() },
                    success: function (data) {
                        $("#notification").show();
                        $("#progressbar").hide();
                        if (data == true) {
                            $("#notification").text("New password has been send to your email!");
                        } else {
                            $("#notification").text("Email not exist!");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            }

            e.preventDefault();
        }
    });
</script> 
<style>
    body {
        background: #C0C0C0;
    }
</style>