@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/HomePage/carousel.css" rel="stylesheet" />
<link href="~/Content/HomePage/grid-layout.css" rel="stylesheet" />
<link href="~/Content/HomePage/home.css" rel="stylesheet" />

<script src="~/Scripts/Home/home.js"></script>

<div id="blog-landing">
    @Html.Partial("_listPost")
</div>

@Html.Partial("_Loading")