@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/HomePage/carousel.css" rel="stylesheet" />
<link href="~/Content/HomePage/grid-layout.css" rel="stylesheet" />
<link href="~/Content/HomePage/home.css" rel="stylesheet" />

<script src="~/Scripts/Home/home.js"></script>

<div id="blog-landing">
    @* Left panel *@
    <div class="white-panel">
        <div class="sidebar-header">
            <div id="weather-sidebar"></div>
        </div>

        <div class="sidebar-list">
            <a href="#"><i class="fa fa-fw fa-star-o"></i><span>Wishlist</span></a>
            <a href="#"><i class="fa fa-fw fa-building-o"></i><span>Discover rooms</span></a>
            <a href="#"><i class="fa fa-fw fa-book"></i><span>My rooms</span></a>
            <a href="#"><i class="fa fa-fw fa-street-view"></i><span>Look around</span></a>
            <a href="#"><i class="fa fa-fw fa-rocket"></i><span>Hot trend</span></a>
        </div>
    </div>
    @Html.Partial("_listPost")
    
</div>
<!--Html.Partial("_ListChatFriend")-->
@Html.Partial("_Loading")
<script>
    $(function () {
        // Sidebar - load weather.
        navigator.geolocation.getCurrentPosition(function (position) {
            var loadWeather = function (location, woeid) {
                $.simpleWeather({
                    location: location,
                    woeid: woeid,
                    unit: 'c',
                    success: function (weather) {
                        html = '<h2><div style="position: absolute; top: -10px; left: 25px"><i class="icon-' + weather.code + '"></i></div> ' + weather.temp + '&deg;' + weather.units.temp + '</h2>';
                        html += weather.city;

                        $("#weather-sidebar").html(html);
                    },
                    error: function (error) {
                        $("#weather-sidebar").html('<p>' + error + '</p>');
                    }
                });
            };
            loadWeather(position.coords.latitude + ',' + position.coords.longitude); //load weather using your lat/lng coordinates
        });
    });

</script>