@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/HomePage/carousel.css" rel="stylesheet" />
<link href="~/Content/HomePage/grid-layout.css" rel="stylesheet" />
<link href="~/Content/HomePage/home.css" rel="stylesheet" />

<script src="~/Scripts/Home/home.js"></script>

<div id="blog-landing">
    @* Left panel *@
    <div class="white-panel">
        <div class="sidebar-header">
            <div id="weather-sidebar"></div>
        </div>

        <div class="sidebar-list">
            <a href="#"><i class="fa fa-fw fa-star-o"></i><span>Wishlist</span></a>
            <a href="#"><i class="fa fa-fw fa-building-o"></i><span>Discover rooms</span></a>
            <a href="#"><i class="fa fa-fw fa-book"></i><span>My rooms</span></a>
            <a href="#"><i class="fa fa-fw fa-street-view"></i><span>Look around</span></a>
            <a href="#"><i class="fa fa-fw fa-rocket"></i><span>Hot trend</span></a>
        </div>
    </div>
    @Html.Partial("_listPost")
    
</div>

@Html.Partial("_Loading")
<script>
    $(window).load(function () {
        setBlocksit();
    });
    //window resize
    $(window).resize(function () {
        setBlocksit();
    });

    function setBlocksit() {
        var conWidth = $("#blog-landing").width();
        //my container width
        var gridwidth = 212;
        //alert(conWidth);
        var col = conWidth / gridwidth;
        //alert(col);
        $("#blog-landing").BlocksIt({
            numOfCol: Math.floor(col),
            offsetX: 8,
            offsetY: 8
        });
    }

    $(function () {
        // Animate user action buttons.
        $(".dark-wrapper").hover(function () {
            $(this).find("img").fadeTo(500, 0.5);

            var postActions = $(this).find(".post-actions");

            postActions.css("visibility", "visible");
            postActions.css("opacity", "1");
            postActions.animate({ top: '20px' }, "slow");
        }, function () {
            $(this).find("img").fadeTo(500, 1);

            var postActions = $(this).find(".post-actions");

            postActions.animate({ top: '0px' }, "slow");
            postActions.css("visibility", "hidden");
            postActions.css("opacity", "0");
        });

        // Like post.
        $(".btn-heart").click(function () {
            var likeIcon = $(this).parentsUntil(".white-panel")
                                  .parent()
                                  .find(".fa-thumbs-o-up");

            likeIcon.toggleClass("interacted")
                    .toggleClass("fa-thumbs-up");

            var likeCountElement = $(this).parentsUntil(".white-panel").parent()
                .find(".like-count");

            if (likeIcon.hasClass("interacted")) {
                likeCountElement.text(parseInt(likeCountElement.text()) + 1);
            } else {
                likeCountElement.text(parseInt(likeCountElement.text()) - 1);
            }
        });

        // Sidebar - load weather.
        navigator.geolocation.getCurrentPosition(function (position) {
            var loadWeather = function (location, woeid) {
                $.simpleWeather({
                    location: location,
                    woeid: woeid,
                    unit: 'c',
                    success: function (weather) {
                        html = '<h2><div style="position: absolute; top: -10px; left: 25px"><i class="icon-' + weather.code + '"></i></div> ' + weather.temp + '&deg;' + weather.units.temp + '</h2>';
                        html += weather.city;

                        $("#weather-sidebar").html(html);
                    },
                    error: function (error) {
                        $("#weather-sidebar").html('<p>' + error + '</p>');
                    }
                });
            };
            loadWeather(position.coords.latitude + ',' + position.coords.longitude); //load weather using your lat/lng coordinates
        });
    });

</script>