@{
    ViewBag.Title = "Find lost Password";
}

<div class="section">
    <div class="page-header">
        Find your FAP account
    </div>
    <p>
        Enter your email or username:
    </p>

    <form class="form" method="post">
        <input type="text" name="account_identifier" class="form-control" value="" autofocus="" autocorrect="off" autocapitalize="off">
        
        <input type="submit" value="Find" class="Button">
    </form>
</div>