<h2 style="text-align: center">Login admin</h2>
<div style="text-align: center">
    <b>User name</b><br>
    <input id="username" type="text" name="username">
    <br>
    <b>Password</b><br>
    <input id="password" type="password" name="password">
    <br>
    <input id="submit" style="margin-top: 5px" type="submit" value="Submit">
</div>

<script>
    $('#submit').click(function (e) {
        if ($("#username").val() == "admin" && $("#password").val() == "admin") {
            location.href = "/Admin/Main/";
        } else {
            alert("User: admin\nPass: admin");
        }
    });
</script>