@{
    if (IsPost)
    {
        
        var username = Request.Form["username"];
        var password = Request.Form["password"];
    }
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/common.js"></script>

         <h2 style="text-align: center">Login admin</h2>
        <fieldset>
            @using (Ajax.BeginForm("Authenticate", "Admin",
                            new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
            {
                <div id="divInterestDeatils"></div>
                <ol>
                    <li>
                        @Html.Label("User name")
                        @Html.TextBox("username")
                    </li>
                    <li>
                        @Html.Label("Password")
                        @Html.TextBox("password")
                    </li>
                </ol>
                <button>Log in</button>
            }
        </fieldset>
        </body>
    </html>

<script>

</script>