@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="filer-wrapper">
    <ul class="tabs-cat text-center row">
        <li class="cate-item col-xs-6 active">
            <a data-toggle="tab" href="#room-list-filter-tab" title="" aria-expanded="true">
                <span>Search for rooms</span>
                <i class="fa fa-search"></i>
            </a>
        </li>
        <li class="cate-item col-xs-6">
            <a data-toggle="tab" href="#room-list-plan-create-room-tab" title="" aria-expanded="false">
                <span>Create a room</span>
                <i class="fa fa-thumb-tack"></i>
            </a>
        </li>
    </ul>
    <!-- End Tabs Cat -->
    <!-- Tabs Content -->
    <div class="tab-content" style="padding-top: 0;">
        <!-- Fitering -->
        <div class="form-cn room-list-filter-tab tab-pane active" id="room-list-filter-tab">
            <div class="form-search clearfix">
                <div class="form-field field-from">
                    <input type="text" name="startplace" id="flight-from" class="field-input" placeholder="Start place">
                </div>
                <div class="form-field field-to">
                    <input type="text" name="targetplace" id="flight-to" class="field-input" placeholder="Target place">
                </div>
                <div class="form-field field-date">
                    <input type="text" name="startdate" class="field-input calendar-input" placeholder="Start date">
                </div>
                <div class="form-field field-date">
                    <input type="text" name="returndate" class="field-input calendar-input" placeholder="Return date">
                </div>
                <div class="form-field field-select field-adult">
                    <div class="select">
                        <span>Slots</span>
                        <select>
                            <option>Slots</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="form-submit">
                    <button type="submit" class="btn btn-primary" style="width: 100%;height: 50px; -ms-border-radius: 4px; border-radius: 4px;">Search</button>
                </div>
            </div>
        </div>
        <!-- End Fitering -->
        <!-- Creating -->
        <div class="form-cn room-list-filter-tab tab-pane active" id="room-list-plan-create-room-tab">
            <div class="col-md-6">
                <div class="form-field">
                    <input type="text" name="roomname" class="field-input" placeholder="Room name">
                </div>
                <div class="form-field">
                    <textarea name="roomdesc" class="field-input" placeholder="Room description"></textarea>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <!-- End Creating -->
    </div>
</div>

<div class="room-list-wrapper">
    @Html.Partial("_ListRoomPartial")
</div>

<script>
    $(".form-field").on('input', function (e) {

    });
</script>