
@{
    ViewBag.Title = "RoomList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/HomePage/carousel.css" rel="stylesheet" />
<link href="~/Content/HomePage/gridLayout.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

<div class="cd-testimonials-wrapper">
    <ul class="cd-testimonials">
        <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="cd-author">
                <img src="~/Images/avatar/avatar-1.jpg" alt="Author image">
                <ul class="cd-author-info">
                    <li>MyName</li>
                    <li>CEO, AmberCreative</li>
                </ul>
            </div>
        </li>
        <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ea, perferendis error repudiandae numquam dolor fuga temporibus. Unde omnis, consequuntur.</p>
            <div class="cd-author">
                <img src="~/Images/avatar/avatar-2.jpg" alt="Author image">
                <ul class="cd-author-info">
                    <li>MyName</li>
                    <li>Designer, CodyHouse</li>
                </ul>
            </div>
        </li>
        <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam totam nulla est, illo molestiae maxime officiis, quae ad, ipsum vitae deserunt molestias eius alias.</p>
            <div class="cd-author">
                <img src="~/Images/avatar/avatar-3.jpg" alt="Author image">
                <ul class="cd-author-info">
                    <li>MyName</li>
                    <li>CEO, CompanyName</li>
                </ul>
            </div>
        </li>

    </ul> <!-- cd-testimonials -->
    <a href="#" class="cd-see-all">See all</a>
</div> <!-- cd-testimonials-wrapper -->
<div class="cd-testimonials-all">
    <div class="cd-testimonials-all-wrapper">
        <ul>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit totam saepe iste maiores neque animi molestias nihil illum nisi temporibus.</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-1.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore nostrum nisi, doloremque error hic nam nemo doloribus porro impedit perferendis. Tempora, distinctio hic suscipit. At ullam eaque atque recusandae modi fugiat voluptatem laborum laboriosam rerum, consequatur reprehenderit omnis, enim pariatur nam, quidem, quas vel reiciendis aspernatur consequuntur. Commodi quasi enim, nisi alias fugit architecto, doloremque, eligendi quam autem exercitationem consectetur.</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-2.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam eveniet, molestiae laborum voluptatibus minima hic quasi accusamus ut facere, eius expedita, voluptatem? Repellat incidunt veniam quaerat, qui laboriosam dicta. Quidem ducimus laudantium dolorum enim qui at ipsum, a error.</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-3.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero voluptates officiis tempore quae officia! Beatae quia deleniti cum corporis eos perferendis libero reiciendis nemo iusto accusamus, debitis tempora voluptas praesentium repudiandae laboriosam excepturi laborum, nisi optio repellat explicabo, incidunt ex numquam. Ullam perferendis officiis harum doloribus quae corrupti minima quia, aliquam nostrum expedita pariatur maxime repellat, voluptas sunt unde, inventore.</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-4.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit totam saepe iste maiores neque animi molestias nihil illum nisi temporibus.</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-5.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quia quas, quis illo adipisci voluptate ex harum iste commodi nulla dolor. Eius ratione quod ab!</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-6.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dignissimos iure rem fugiat consequuntur officiis.</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-1.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At temporibus tempora necessitatibus reiciendis provident deserunt maxime sit id. Dicta aut voluptatibus placeat quibusdam vel, dolore.</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-2.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis iusto sapiente, excepturi velit, beatae possimus est tenetur cumque fugit tempore dolore fugiat! Recusandae, vel suscipit? Perspiciatis non similique sint suscipit officia illo, accusamus dolorum, voluptate vitae quia ea amet optio magni voluptatem nemo, natus nihil.</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-3.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quasi officiis pariatur, fugit minus omnis animi ut assumenda quod commodi, ad a alias maxime unde suscipit magnam, voluptas laboriosam ipsam quibusdam quidem, dolorem deleniti id.</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-4.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At temporibus tempora necessitatibus reiciendis provident deserunt maxime sit id. Dicta aut voluptatibus placeat quibusdam vel, dolore.</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-5.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
            <li class="cd-testimonials-item">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque tempore ipsam, eos suscipit nostrum molestias reprehenderit, rerum amet cum similique a, ipsum soluta delectus explicabo nihil repellat incidunt! Minima magni possimus mollitia deserunt facere, tempore earum modi, ea ipsa dicta temporibus suscipit quidem ut quibusdam vero voluptatibus nostrum excepturi explicabo nulla harum, molestiae alias. Ab, quidem rem fugit delectus quod.</p>

                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-6.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, CompanyName</li>
                    </ul>
                </div> <!-- cd-author -->
            </li>
        </ul>
    </div>	<!-- cd-testimonials-all-wrapper -->
    <a href="#" class="close-btn">Close</a>
</div> <!-- cd-testimonials-all -->
<div class="form-inline pull-right col-sm-12">
    <div class="checkbox">
        <label>
            <input type="checkbox">Friend Only
        </label>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Sort <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li id="none"><a href="#">---</a></li>
            <li id="byName"><a href="#">By Name</a></li>
            <li id="byDate"><a href="#">By Date</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Create <span class="caret"></span>
        </button>
        <ul id="create" class="dropdown-menu" role="menu">
            <li id="public"><a href="#">Public</a></li>
            <li id="private"><a href="#">Private</a></li>
        </ul>
    </div>
</div>
<div class="form-inline col-sm-12" style="display:block; width:100%; float:left; margin-top:10px;">
    <div class="btn-group col-md-12 form-inline" id="alphabet">
        <button type="button" class="btn btn-primary btn-sm">A</button>
        <button type="button" class="btn btn-primary btn-sm">B</button>
        <button type="button" class="btn btn-primary btn-sm">C</button>
        <button type="button" class="btn btn-primary btn-sm">D</button>
        <button type="button" class="btn btn-primary btn-sm">E</button>
        <button type="button" class="btn btn-primary btn-sm">F</button>
        <button type="button" class="btn btn-primary btn-sm">G</button>
        <button type="button" class="btn btn-primary btn-sm">H</button>
        <button type="button" class="btn btn-primary btn-sm">I</button>
        <button type="button" class="btn btn-primary btn-sm">J</button>
        <button type="button" class="btn btn-primary btn-sm">K</button>
        <button type="button" class="btn btn-primary btn-sm">L</button>
        <button type="button" class="btn btn-primary btn-sm">M</button>
        <button type="button" class="btn btn-primary btn-sm">N</button>
        <button type="button" class="btn btn-primary btn-sm">O</button>
        <button type="button" class="btn btn-primary btn-sm">P</button>
        <button type="button" class="btn btn-primary btn-sm">Q</button>
        <button type="button" class="btn btn-primary btn-sm">R</button>
        <button type="button" class="btn btn-primary btn-sm">S</button>
        <button type="button" class="btn btn-primary btn-sm">T</button>
        <button type="button" class="btn btn-primary btn-sm">U</button>
        <button type="button" class="btn btn-primary btn-sm">V</button>
        <button type="button" class="btn btn-primary btn-sm">W</button>
        <button type="button" class="btn btn-primary btn-sm">X</button>
        <button type="button" class="btn btn-primary btn-sm">Y</button>
        <button type="button" class="btn btn-primary btn-sm">Z</button>
    </div>

    <div id="date" class="form-inline form-group col-sm-12">
        <label for="inputDate1" class="col-md-2">From</label>
        <input id="inputDate1" size="16" type="text" value="" readonly class="col-md-4 datepicker">
        <label for="inputDate2" class="col-md-2">To</label>
        <input id="inputDate2" size="16" type="text" value="" readonly class="col-md-4 datepicker">
    </div>
</div>

<div style="margin-top:20px; float:left; display:block; width:100%">
    <section id="blog-landing">
        <article class="white-panel">
            <div class="pin">
                <img src="http://mixtourist.com.vn/uploads/images/anhnho/Du-Lich-C_635360933198859417.jpg" />
                <p>
                    Room 1:
                </p>
                <ul>
                    <li>Creater: Tran Manh Hieu </li>
                    <li>Place: Co To</li>
                    <li> Plan Start: 8/6/2015</li>
                    <li>Members: 9</li>
                </ul>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-4.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Tran Manh Hieu</div>
                        <div class="post-time">2 hours ago</div>
                    </div>
                </div>
            </div>
        </article>
        <article class="white-panel">
            <div class="pin">
                <img src="http://www.dulichvietnam.com.vn/data/News/bien-mui-ne.jpg" />
                <p>
                    Room 2:
                </p>
                <ul>
                    <li>Creater: Phan Tien Luc</li>
                    <li>Place: Mui Ne</li>
                    <li> Plan Start: 7/6/2015</li>
                    <li>Members: 3</li>
                </ul>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-3.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Phan Tien Luc</div>
                        <div class="post-time">4 hours ago</div>
                    </div>
                </div>
            </div>
        </article>
        <article class="white-panel">
            <div id="wrapper">
                <div id="columns">
                    <div class="pin">
                        <img src="http://dulichhalong360.com/wp-content/uploads/2015/01/di-san-the-gioi.jpg" />
                        <p>
                            Room 3:
                        </p>
                        <ul>
                            <li>Creater: Phan Tien Luc</li>
                            <li>Place: Ha Long</li>
                            <li> Plan Start: 7/6/2015</li>
                            <li>Members: 6</li>
                        </ul>
                        <div class="user-info">
                            <div class="avatar">
                                <img src="~/Images/avatar/avatar-3.jpg" alt="Username 1" class="img-circle" />
                            </div>
                            <div class="col-md-5">
                                <div class="name-user">Phan Tien Luc</div>
                                <div class="post-time">4 hours ago</div>
                            </div>
                        </div>
                    </div>
        </article>
        <article class="white-panel">
            <div class="pin">
                <img src="http://static.proship.vn/uploads/news/2015/03/05/Proship.VN_1425538289.413.jpg" />
                <p>
                    Room 4:
                </p>
                <ul>
                    <li> Creater: Phan Tien Luc</li>
                    <li> Place: Nha Trang</li>
                    <li> Plan Start: 7/6/2015</li>
                    <li> Members: 5</li>
                </ul>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-3.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Phan Tien Luc</div>
                        <div class="post-time">4 hours ago</div>
                    </div>
                </div>
            </div>
        </article>
        <article class="white-panel">
            <div class="pin">
                <img src="http://xmedia-nguoiduatin.cdn.vccloud.vn/public/data/images/Bandocviet/105/nguoiduatin-NewImage-2.jpgcxv.jpg" />
                <p>
                    Room 5:
                </p>
                <ul>
                    <li> Creater: Duong Thanh Hai</li>
                    <li> Place: Ben Nha Rong</li>
                    <li> Plan Start: 7/6/2015</li>
                    <li> Members: 3</li>
                </ul>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-6.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duong Thanh Hai</div>
                        <div class="post-time">5 hours ago</div>
                    </div>
                </div>
            </div>
        </article>
        <article class="white-panel">
            <div class="pin">
                <img src="http://canthotv.vn/wp-content/uploads/2013/05/Lang-bac2.jpg" />
                <p>
                    Room 6:
                </p>
                <ul>
                    <li> Creater: Duc Filan</li>
                    <li> Place: Lang Chu Tich Ho Chi Minh</li>
                    <li> Plan Start: 8/6/2015</li>
                    <li> Members: 6</li>
                </ul>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                </div>
            </div>
        </article>
        <article class="white-panel">
            <div class="pin">
                <img src="http://solohaplaza.com/sites/default/files/sanphammanager08/oc011.jpg" />
                <p>
                    Room 7:
                </p>
                <ul>
                    <li> Creater: Nguyen Minh Hoang</li>
                    <li> Place: Phu Quoc</li>
                    <li> Plan Start: 8/6/2015</li>
                    <li> Members: 8</li>
                </ul>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-6.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Nguyen Minh Hoang</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                </div>
            </div>
        </article>
        <article class="white-panel">
            <div class="pin">
                <img src="http://www.oppomobile.vn/forum/attachments/aimage-dothi-net_thumbnail_1000_tp_phan_thiet_nhin_tu_tren_caoea38d604f90bb392b6965d067cba5d51-jpg.786/" />
                <p>
                    Room 8:
                </p>
                <ul>
                    <li> Creater: Le Minh Thuy</li>
                    <li> Place: Phan Thiet</li>
                    <li> Plan Start: 8/6/2015</li>
                    <li> Members: 8</li>
                </ul>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-2.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">ThuyLM</div>
                        <div class="post-time">9 hours ago</div>
                    </div>
                </div>
            </div>
        </article>
        <article class="white-panel">
            <div class="pin">
                <img src="http://phongbanve.vn/public/uploads/images/images/Hoa/dalat.jpg" />
                <p>
                    Room 9:
                </p>
                <ul>
                    <li> Creater: Duc Filan</li>
                    <li> Place: Da Lat</li>
                    <li> Plan Start: 8/6/2015</li>
                    <li> Members: 6</li>
                </ul>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">9 hours ago</div>
                    </div>
                </div>
        </article>
        <article class="white-panel">
            <div class="pin">
                <img src="http://www.dulichvietnam.com.vn/data/News/tong-quan-bien-do-son.jpg" />
                <p>
                    Room 10:
                </p>
                <ul>
                    <li> Creater: ThuyLM</li>
                    <li> Place: Do Son</li>
                    <li> Plan Start: 8/6/2015</li>
                    <li> Members: 9</li>
                </ul>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-2.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">ThuyLM</div>
                        <div class="post-time">10 hours ago</div>
                    </div>
                </div>
        </article>
        <article class="white-panel">
            <div class="pin">
                <img src="http://khachsanvuhuong.vn/images/khachsancualo/cualo.jpg" />
                <p>
                    Room 11:
                </p>
                <ul>
                    <li> Creater: Duc Filan</li>
                    <li> Place: Cua Lo</li>
                    <li> Plan Start: 8/6/2015</li>
                    <li> Members: 6</li>
                </ul>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">11 hours ago</div>
                    </div>
                </div>
        </article>
        <article class="white-panel">
            <div class="pin">
                <img src="http://tourdulichsapagiare.com/upload/misc/nui-ham-rong-sapa_1406512372.jpg" />
                <p>
                    Room 12:
                </p>
                <ul>
                    <li> Creater: Duc Filan</li>
                    <li> Place: Sa Pa</li>
                    <li> Plan Start: 8/6/2015</li>
                    <li> Members: 2</li>
                </ul>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">13 hours ago</div>
                    </div>
                </div>
        </article>
    </section>
</div>

<script src="~/Scripts/carousel/masonry.pkgd.min.js"></script>
<script src="~/Scripts/carousel/jquery.flexslider-min.js"></script>
<script src="~/Scripts/carousel/main.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/HomePage/pinterest_grid.js"></script>
<script>
    $(document).ready(function () {

        $('#blog-landing').pinterest_grid({
            no_columns: 4,
            padding_x: 20,
            padding_y: 20,
            margin_bottom: 50,
            single_column_breakpoint: 700
        });

        document.getElementById("alphabet").style.display = "none";
        document.getElementById("date").style.display = "none";

        document.getElementById("none").onclick = function () {
            document.getElementById("alphabet").style.display = "none";
            document.getElementById("date").style.display = "none";
        }

        //document.getElementById("byDate").onclick = function () {
        //    document.getElementById("alphabet").style.visibility = "hidden";
        //    document.getElementById("date").style.visibility = "visible";
        //};

        //document.getElementById("byName").onclick = function () {
        //    document.getElementById("alphabet").style.visibility = "visible";
        //    document.getElementById("date").style.visibility = "hidden";
        //};

        document.getElementById("byDate").onclick = function () {
            document.getElementById("alphabet").style.display = "none";
            document.getElementById("date").style.display = "block";
        };

        document.getElementById("byName").onclick = function () {
            document.getElementById("alphabet").style.display = "block";
            document.getElementById("date").style.display = "none";
        };

        $(".datepicker").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            viewMode: "days",
            minViewMode: "days"
        });
    });


</script>
