<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="post-area">
                <div class="post-info">
                    <div class="user-avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="post-info-area">
                        <div class="user-name">
                            Duc Filan
                        </div>
                        <span class="post-time">
                            <span>Shared with Public</span>
                            &nbsp;-&nbsp;
                            <span>Yesterday at 22:15</span>
                        </span>

                    </div>
                </div>
                <div class="post-content">
                    危なくないからその丘で雪の上を滑ろうではないか！
                </div>
            </div>
            <div class="interact-area">
                <a>Like</a>
                &nbsp;·&nbsp;
                <a>Dislike</a>
            </div>
            <div class="divide-area"></div>
            <div class="comment-area">
                <div class="comment-stats">
                    <span>4 people commented</span>
                </div>

                <div class="comment-list">
                    <div class="comment-detail">
                        <div class="commenter-avatar">
                            <img src="~/Images/avatar/avatar-2.jpg" alt="Username 2"/>
                        </div>
                        <div class="commenter-content">
                            <span class="commenter-name">Hai Duong</span>
                            <span class="commenter-post-time" title="22:15:28 07-07-2015">- Yesterday 22:15</span>
                        </div>
                        <div class="comment-content">
                            危なくないからその丘で雪の上を滑ろうではないか！
                        </div>
                    </div>
                    <div class="comment-detail">
                        <div class="commenter-avatar">
                            <img src="~/Images/avatar/avatar-2.jpg" alt="Username 2"/>
                        </div>
                        <div class="commenter-content">
                            <span class="commenter-name">Hai Duong</span>
                            <span class="commenter-post-time" title="22:15:28 07-07-2015">- Yesterday 22:15</span>
                        </div>
                        <div class="comment-content">
                            危なくないからその丘で雪の上を滑ろうではないか！
                        </div>
                    </div>
                    <div class="comment-detail">
                        <div class="commenter-avatar">
                            <img src="~/Images/avatar/avatar-2.jpg" alt="Username 2"/>
                        </div>
                        <div class="commenter-content">
                            <span class="commenter-name">Hai Duong</span>
                            <span class="commenter-post-time" title="22:15:28 07-07-2015">- Yesterday 22:15</span>
                        </div>
                        <div class="comment-content">
                            危なくないからその丘で雪の上を滑ろうではないか！
                        </div>
                    </div>
                    <div class="comment-detail">
                        <div class="commenter-avatar">
                            <img src="~/Images/avatar/avatar-2.jpg" alt="Username 2"/>
                        </div>
                        <div class="commenter-content">
                            <span class="commenter-name">Hai Duong</span>
                            <span class="commenter-post-time" title="22:15:28 07-07-2015">- Yesterday 22:15</span>
                        </div>
                        <div class="comment-content">
                            危なくないからその丘で雪の上を滑ろうではないか！
                        </div>
                    </div>
                </div>

                <div class="comment-textbox-wrapper">
                    <input type="text" class="comment-textbox" placeholder="Input comment..." />
                </div>
            </div>
        </div>
    </div>
</div>