<link href="~/Content/Room/room-list.css" rel="stylesheet" />

@for (int i = 0; i < 10; i++)
{
    <div class="room-list-container">
        <div class="room-list-header">
            <div class="room-list-bio" style="background-image:url(/Images/background/nhatrang2.jpg)"><!--BG--></div>
            <div class="room-list-avatarcontainer">
                <img src="/Images/UserUpload/UserAvatar/item_0_Brother kiss.jpg" alt="avatar" class="room-list-avatar">
                <div class="room-list-hover">
                    <i class="fa fa-heart"></i>
                </div>
            </div>
        </div>

        <div class="room-list-content">
            <div class="room-list-place-name">
                <h3>
                    Da Nang Beautiful Beach
                </h3>
            </div>
            <div class="divider"></div>
            <div class="room-list-description">
                Local beaches are good for swimming all year round, but especially from May to August when the waves are gentle.  On some of these beaches, lifeguard teams work from 5am to 8pm daily to ensure the safety of swimmers.
            </div>

            <div class="room-list-data">
                <ul>
                    <li>
                        SLOTS<span><i class="room-list-no-current-member">25</i>|32</span>
                    </li>
                    <li>
                        START<span>Dec 22 2015</span>
                    </li>
                    <li>
                        DURING<span>18 days</span>
                    </li>
                </ul>
            </div>
            <div class="room-list-view-detail">View Detail</div>
        </div>
    </div>
}
