<div class="chat-sidebar">
    <div class="sidebar-name" style="margin-top:54px;">
        <a href="#">
            <img width="30" height="30" src="http://qnimate.com/wp-content/uploads/2014/12/Screen-Shot-2014-12-15-at-3.48.21-pm.png">
            <span>Narayan Prusty</span>
        </a>
    </div>
</div>
