<div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form">
        <input class="morphsearch-input" type="search" placeholder="Search..." />
        <button class="morphsearch-submit" type="submit">Search</button>
    </form>
    <div class="morphsearch-content">
        <div class="dummy-column">
            <h2>People</h2>
            <a class="dummy-media-object" href="#">
                <img class="round" src="/Images/avatar/avatar-2.jpg" alt="Sara Soueidan" />
                <h3>Duc Filan</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img class="round" src="/Images/avatar/avatar-2.jpg" alt="Rachel Smith" />
                <h3>Duc Filan</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img class="round" src="/Images/avatar/avatar-2.jpg" alt="Peter Finlan" />
                <h3>Duc Filan</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img class="round" src="/Images/avatar/avatar-2.jpg" alt="Patrick Cox" />
                <h3>Duc Filan</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img class="round" src="/Images/avatar/avatar-2.jpg" alt="Tim Holman" />
                <h3>Duc Filan</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img class="round" src="/Images/avatar/avatar-2.jpg" alt="Shaun Dona" />
                <h3>Duc Filan</h3>
            </a>
        </div>
        <div class="dummy-column">
            <h2>Popular</h2>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="PagePreloadingEffect" />
                <h3>Dep trai nhieu dua yeu</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="ArrowNavigationStyles" />
                <h3>Dep trai nhieu dua yeu</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="HoverEffectsIdeasNew" />
                <h3>Dep trai nhieu dua yeu</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="FreebieHalcyonDays" />
                <h3>Dep trai nhieu dua yeu</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="ArticleIntroEffects" />
                <h3>Dep trai nhieu dua yeu</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="DraggableDualViewSlideshow" />
                <h3>Dep trai nhieu dua yeu</h3>
            </a>
        </div>
        <div class="dummy-column">
            <h2>Recent</h2>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="TooltipStylesInspiration" />
                <h3>Xau trai nhieu dua ghet</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="AnimatedHeaderBackgrounds" />
                <h3>Xau trai nhieu dua ghet</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="OffCanvas" />
                <h3>Xau trai nhieu dua ghet</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="TabStyles" />
                <h3>Xau trai nhieu dua ghet</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="ResponsiveSVGs" />
                <h3>Xau trai nhieu dua ghet</h3>
            </a>
            <a class="dummy-media-object" href="#">
                <img src="/Images/avatar/avatar-2.jpg" alt="NotificationStyles" />
                <h3>Xau trai nhieu dua ghet</h3>
            </a>
        </div>
    </div><!-- /morphsearch-content -->
    <span class="morphsearch-close"></span>
</div><!-- /morphsearch -->


<script src="~/Scripts/classie.js"></script>
<script>
    (function () {
        var morphSearch = document.getElementById('morphsearch'),
            input = morphSearch.querySelector('input.morphsearch-input'),
            ctrlClose = morphSearch.querySelector('span.morphsearch-close'),
            isOpen = isAnimating = false,
            // show/hide search area
            toggleSearch = function (evt) {
                // return if open and the input gets focused
                if (evt.type.toLowerCase() === 'focus' && isOpen) return false;

                var offsets = morphsearch.getBoundingClientRect();
                if (isOpen) {
                    classie.remove(morphSearch, 'open');

                    // trick to hide input text once the search overlay closes
                    // todo: hardcoded times, should be done after transition ends
                    if (input.value !== '') {
                        setTimeout(function () {
                            classie.add(morphSearch, 'hideInput');
                            setTimeout(function () {
                                classie.remove(morphSearch, 'hideInput');
                                input.value = '';
                            }, 300);
                        }, 500);
                    }

                    input.blur();
                }
                else {
                    classie.add(morphSearch, 'open');
                }
                isOpen = !isOpen;
            };

        // events
        input.addEventListener('focus', toggleSearch);
        ctrlClose.addEventListener('click', toggleSearch);
        // esc key closes search overlay
        // keyboard navigation events
        document.addEventListener('keydown', function (ev) {
            var keyCode = ev.keyCode || ev.which;
            if (keyCode === 27 && isOpen) {
                toggleSearch(ev);
            }
        });


        /***** for demo purposes only: don't allow to submit the form *****/
        morphSearch.querySelector('button[type="submit"]').addEventListener('click', function (ev) { ev.preventDefault(); });
    })();
</script>