<div class="tab_complete_ui" id="id-tag-friend-tab-ui" style="display:none;"> 
    <div class="monkey_scroll_wrapper">
        <div class="monkey_scroll_hider" style="width: 100%;">
            <div class="tab_complete_ui_scroller monkey_scroller" style="max-height: 265px; width: 100%;">
                <ul id="id-tag-friend-list" class="type_members">
                </ul>
            </div>
        </div>
    </div>
</div>
