<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="~/Scripts/prettymaps.js"></script>

<script src="~/Scripts/jquery.geocomplete.js"></script>
<script src="~/Scripts/LookAround/logger.js"></script>
<form>
    <input id="geocomplete" type="text" placeholder="Type in an address" size="90" />
</form>
<div style="width: 100%; height: 500px;" class="map-canvas"></div>
<button id="default-map-btn">default</button>
<button id="green-map-btn">green</button>
<button id="blue-map-btn">blue</button>
<button id="grey-map-btn">grey</button>


<script>
    var currentLocation = 'HaNoi, Vietnam', currentColor = '#FF0000';
    $(function () {

        //red map example
        $('.map-canvas').prettyMaps({
            image: '../Images/avatar/avatar-1.jpg',
            address: ['HaNoi, Vietnam'],
            hue: '#FF0000',
            saturation: -20
        });

        //default
        $('#default-map-btn').on('click', function () {
            $('.map-canvas').prettyMaps({
                image: '../Images/avatar/avatar-2.jpg',
                address: [currentLocation]
            });
        });

        //green map example
        $('#green-map-btn').on('click', function () {
            $('.map-canvas').prettyMaps({
                address: [currentLocation],
                image: '../Images/avatar/avatar-3.jpg',
                hue: '#00FF55',
                saturation: -30
            });
            currentColor = '#00FF55';
        });

        //blue map example
        $('#blue-map-btn').on('click', function () {
            $('.map-canvas').prettyMaps({
                address: [currentLocation],
                image: '../Images/avatar/avatar-4.jpg',
                hue: '#0073FF',
                saturation: -30
            });
            currentColor = '#0073FF';
        });

        //grey map example
        $('#grey-map-btn').on('click', function () {
            $('.map-canvas').prettyMaps({
                address: [currentLocation],
                image: '../Images/avatar/avatar-6.jpg',
                saturation: -100,
                lightness: 10
            });
        });

        //Search box
        var options = {
            map: ".map-canvas"
        };

        $("#geocomplete").geocomplete(options)
            .bind("geocode:result", function (event, result) {
                $.log("Result: " + result.formatted_address);
                $('.map-canvas').prettyMaps({
                    address: [result.formatted_address],
                    image: '../Images/avatar/avatar-1.jpg',
                    saturation: -30,
                    hue: currentColor
                });
                currentLocation = result.formatted_address;
            })
            .bind("geocode:error", function (event, status) {
                $.log("ERROR: " + status);
            })
            .bind("geocode:multiple", function (event, results) {
                $.log("Multiple: " + results.length + " results found");
            });

        $("#find").click(function () {
            $("#geocomplete").trigger("geocode");
        });

        $("#examples a").click(function () {
            $("#geocomplete").val($(this).text()).trigger("geocode");
            return false;
        });
    });

</script>

<style>
    .placepicker-map {
        width: 100%;
        height: 300px;
    }

    .another-map-class {
        width: 100%;
        height: 300px;
    }

    .pac-container {
        border-radius: 5px;
    }
</style>