body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Nav bar customizations */
.navbar {
    min-height: 70px;
    -ms-opacity: 0.8;
    opacity: 0.8;
    padding-top: 5px
}

.nav-search-box {
    -moz-min-width   : 400px;
    -ms-min-width    : 400px;
    -o-min-width     : 400px;
    -webkit-min-width: 400px;
    min-width        : 400px
}

.nav-search-box.form-control {
    max-width: 500px
}
/* END Nav bar customizations */