body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #e0e0e0 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

img {
    max-width: 100%;
}

.modal {
    margin-top: 70px;
}

/* Nav bar customizations */
.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: #ffffff;
    background-color: rgba(255,255,255,.9);
    width: 100%;
    z-index: 2000;
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);
}

    .navbar-custom .nav li a {
        display: block;
        color: #50c1e9;
    }

    .navbar-custom .remove-background {
        background-color: transparent !important;
    }

    .navbar-custom .nav li .interact-item:hover {
        color: #D91E17;
        cursor: pointer;
    }

.nav li a .interact-button {
    font-size: 18px;
    height: 18px;
    overflow: hidden;
    margin: -5px 0 -5px 0;
}

.navbar-custom .nav li a.current, .navbar-custom .nav li a:active {
    /*TODO*/
}

.navbar-custom .navbar-toggle {
    position: relative;
    background-color: #50c1e9;
    border-color: #50c1e9;
}

    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
        background-color: #50c1e9;
    }

    .navbar-custom .navbar-toggle .icon-bar {
        background-color: #ffffff;
        background-color: rgba(255,255,255,.9);
    }

.navbar-custom .navbar-brand {
    -ms-opacity: .7;
    opacity: .7;
    -webkit-filter: alpha(opacity=70);
    -moz-filter: alpha(opacity=70);
    -o-filter: alpha(opacity=70);
    filter: alpha(opacity=70);
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    padding: 5px 15px;
}

    .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:hover {
        -ms-opacity: 1;
        opacity: 1;
        -webkit-filter: alpha(opacity=100);
        -moz-filter: alpha(opacity=100);
        -o-filter: alpha(opacity=100);
        filter: alpha(opacity=100);
    }

.navbar-custom .avatar {
    width: 35px;
    height: 35px;
    -ms-background-size: cover;
    background-size: cover;
    display: block;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    position: relative;
    margin-top: -5px;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.navbar-right .dropdown-menu {
    border-top: #ffffff;
    margin-top: -2px !important;
    border: 0;
}
/* END Nav bar customizations */

.divider {
    height: 1px;
    margin: 9.5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.circle-image {
    -ms-border-radius: 50%;
    border-radius: 50%;
    padding: 3px;
    background-color: #ffffff;
}

.vertical-space-10 {
    height: 10px;
    width: 100%;
}

.vertical-space-15 {
    height: 15px;
    width: 100%;
    background-color: transparent;
}

.vertical-space-20 {
    height: 20px;
    width: 100%;
}

.vertical-space-25 {
    height: 25px;
    width: 100%;
}

.frame-container {
    background-color: #ffffff;
    -ms-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    float: left;
}

.padding-5 {
    padding: 5px;
    width: 60px;
}

.padding-top-30 {
    padding-top: 30px;
}

/* LOGIN FORM */
.login-modal-wrap {
    max-width: 400px;
}

.login-modal-body {
    padding: 4px;
}

.panel-login {
}

    .panel-login > .panel-heading {
        color: #00415d;
        background-color: #fff;
        border-color: #fff;
        text-align: center;
    }

        .panel-login > .panel-heading a {
            text-decoration: none;
            color: #666;
            font-weight: bold;
            font-size: 15px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }

            .panel-login > .panel-heading a.active {
                color: #029f5b;
                font-size: 18px;
            }

        .panel-login > .panel-heading hr {
            margin-top: 10px;
            margin-bottom: 0px;
            clear: both;
            border: 0;
            height: 1px;
            background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        }

    .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
        border: 1px solid #ddd;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
        -o-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .panel-login input:hover,
    .panel-login input:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
    }

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background-color: #53A3CD;
        border-color: #53A3CD;
    }

.forgot-password {
    text-decoration: underline;
    color: #888;
}

    .forgot-password:hover,
    .forgot-password:focus {
        text-decoration: underline;
        color: #666;
    }

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

    .btn-register:hover,
    .btn-register:focus {
        color: #fff;
        background-color: #1CA347;
        border-color: #1CA347;
    }

.mg-btm {
    margin-bottom: 20px;
}

.social-box {
    margin: 0 auto;
    padding: 0 38px 20px 38px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
}

    .social-box a {
        font-weight: bold;
        font-size: 18px;
        padding: 8px;
    }

        .social-box a i {
            font-weight: bold;
            font-size: 20px;
        }

.map_canvas {
    height: 150px;
}
/* LOGIN FORM ENDS*/

/* POST FORM */
.share-post-box {
    max-width: 500px;
    margin: 0 auto;
    display: block;
    background-color: #f7f7f7;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

    .share-post-box .share {
        -webkit-transition: 0.1s ease-out height;
        -moz-transition: 0.1s ease-out height;
        -ms-transition: 0.1s ease-out height;
        -o-transition: 0.1s ease-out height;
        transition: 0.1s ease-out height;
        clear: both;
        background: white;
        border: 2px solid #dddddd;
        margin-bottom: 10px;
        position: relative;
    }

        .share-post-box .share .arrow {
            background: url(arrow.png) no-repeat #dddddd;
            position: absolute;
            width: 14px;
            height: 10px;
            left: 4px;
            display: inline;
            top: -10px;
            -webkit-transition: 0.3s ease-out all;
            -moz-transition: 0.3s ease-out all;
            -ms-transition: 0.3s ease-out all;
            -o-transition: 0.3s ease-out all;
            transition: 0.3s ease-out all;
        }

    .share-post-box .post-types li a {
        color: #085083;
        text-decoration: none;
    }

        .share-post-box .post-types li a.active {
            color: #404040;
        }

    .share-post-box .post-types {
        padding-left: 5px;
    }

    .share-post-box ul {
        list-style: none;
        margin-bottom: 9px;
    }

    .share-post-box .post-types li {
        display: inline;
        margin-right: 10px;
    }

.message {
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
}

.share-post-box .panel {
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.privacy-dropdown {
    width: 100px;
}

#id-location-textbox {
}

.map-canvas {
    height: 150px;
}

.pac-container {
    /* put Google geocomplete list on top of Bootstrap modal */
    z-index: 9999;
}

.helper-elements-wrapper {
    margin-bottom: 20px;
}

    .helper-elements-wrapper input {
        -ms-border-radius: 0;
        border-radius: 0;
        margin-top: -20px;
    }

#post-privacy .fa {
    width: 20px;
    text-align: center;
}

.share-post-box .add-media-wrapper {
    width: 96px;
    height: 96px;
    border: 2px dashed #DDDDDD;
    background-color: #fff;
    -ms-border-radius: 2px;
    border-radius: 2px;
    margin: 5px;
    cursor: pointer;
    display: block;
    float: left;
}

    .share-post-box .add-media-wrapper i {
        font-size: 25px;
        text-align: center;
        color: #ABB7B7;
        cursor: pointer;
        margin: 35px 0 0 35px;
    }

.share-post-box #post-image-preview-wrapper {
    text-align: center;
}

.share-post-box #post-upload-images-progress, .share-post-box #post-upload-video-progress {
    margin: 20px 20px 10px 20px;
}

.share-post-box .upload-media-preview {
    background: #fff;
    display: inline-block;
    vertical-align: top;
    width: 96px;
    height: 96px;
    margin: 5px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

    .share-post-box .upload-media-preview .crop {
        height: 100%;
        overflow: hidden;
        position: relative;
        border: 2px solid #fff;
        -ms-border-radius: 8px;
        border-radius: 8px;
    }

        .share-post-box .upload-media-preview .crop img {
            display: block;
            margin: auto;
            position: absolute;
            top: -100%;
            right: -100%;
            bottom: -100%;
            left: -100%;
        }
/* POST FORM ENDS*/

/* POST DETAIL*/
.post-area {
}

    .post-area .user-avatar {
        width: 46px;
        height: 46px;
        float: left;
        margin: 0 15px 0 0;
    }

    .post-area .user-name {
        font-weight: bold;
    }

    .post-area .post-time {
        color: #999;
        display: inline-block;
        font-size: 12px;
    }

    .post-area .post-info {
        width: 100%;
        margin-bottom: 10px;
    }

    .post-area .post-content {
        margin-bottom: 10px;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

.comment-area {
    background-color: #f5f5f5;
    margin: 0 -15px -15px -15px;
}

    .comment-area .comment-stats {
        background-color: #f5f5f5;
        margin: 0 20px 12px 20px;
        padding: 0 0 0 0;
    }

.divide-area {
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding-bottom: 16px;
    margin: 0 -15px 0 -15px;
}

.comment-list .comment-detail {
    border-bottom: 0;
    margin: 0 -15px 0 -15px;
    min-height: 0;
    padding: 0 0 16px 35px;
    vertical-align: top;
}

    .comment-list .comment-detail .commenter-avatar {
        -ms-border-radius: 2px;
        border-radius: 2px;
        width: 30px;
        height: 30px;
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }

    .comment-list .comment-detail .commenter-name {
        font-weight: bold;
        color: #404040;
        font-size: 13px;
    }

    .comment-list .comment-detail .commenter-post-time {
        color: #999;
        font-size: 12px;
        margin-right: 8px;
    }

    .comment-list .comment-detail .comment-content {
        font-size: 13px;
    }

.comment-textbox-wrapper {
    margin: 0 20px 0 20px;
    padding-bottom: 10px;
}

    .comment-textbox-wrapper .comment-textbox {
        width: 100%;
        border: 1px solid #ddd;
        padding: 6px 8px;
        font-size: 12px;
    }
/* POST DETAIL ENDS */

/* HOME SIDE MENU */
.sidebar-header {
    text-align: center;
    height: 80px;
    text-transform: uppercase;
    padding: 10px;
    color: #ffffff;
    background-color: #53A3CD;
    font-family: 'Segoe UI', Arial, sans-serif;
    -ms-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -ms-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar-list a {
    display: block;
    color: #414a51;
    font-weight: 700;
    padding: 0.8em 0.55em;
    font-family: 'Raleway', Arial, sans-serif;
}

.sidebar-list a {
    text-decoration: none;
    outline: none;
}

    .sidebar-list a:hover,
    .sidebar-list a:focus {
        color: #c94e50;
        outline: none;
    }

    .sidebar-list a i {
        -ms-opacity: 0.8;
        opacity: 0.8;
        color: #d91e18;
    }

    .sidebar-list a span {
        margin-left: 10px;
    }

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.loading {
    margin: 65px 0 0;
}

#weather-sidebar h2 {
    margin: 0;
    font-weight: inherit;
    font-size: 30px;
}

#weather-sidebar i {
    font-family: weather;
    font-size: 80px;
    font-style: normal;
}

#weather-sidebar .icon-0:before {
    content: ":";
}

#weather-sidebar .icon-1:before {
    content: "p";
}

#weather-sidebar .icon-2:before {
    content: "S";
}

#weather-sidebar .icon-3:before {
    content: "Q";
}

#weather-sidebar .icon-4:before {
    content: "S";
}

#weather-sidebar .icon-5:before {
    content: "W";
}

#weather-sidebar .icon-6:before {
    content: "W";
}

#weather-sidebar .icon-7:before {
    content: "W";
}

#weather-sidebar .icon-8:before {
    content: "W";
}

#weather-sidebar .icon-9:before {
    content: "I";
}

#weather-sidebar .icon-10:before {
    content: "W";
}

#weather-sidebar .icon-11:before {
    content: "I";
}

#weather-sidebar .icon-12:before {
    content: "I";
}

#weather-sidebar .icon-13:before {
    content: "I";
}

#weather-sidebar .icon-14:before {
    content: "I";
}

#weather-sidebar .icon-15:before {
    content: "W";
}

#weather-sidebar .icon-16:before {
    content: "I";
}

#weather-sidebar .icon-17:before {
    content: "W";
}

#weather-sidebar .icon-18:before {
    content: "U";
}

#weather-sidebar .icon-19:before {
    content: "Z";
}

#weather-sidebar .icon-20:before {
    content: "Z";
}

#weather-sidebar .icon-21:before {
    content: "Z";
}

#weather-sidebar .icon-22:before {
    content: "Z";
}

#weather-sidebar .icon-23:before {
    content: "Z";
}

#weather-sidebar .icon-24:before {
    content: "E";
}

#weather-sidebar .icon-25:before {
    content: "E";
}

#weather-sidebar .icon-26:before {
    content: "3";
}

#weather-sidebar .icon-27:before {
    content: "a";
}

#weather-sidebar .icon-28:before {
    content: "A";
}

#weather-sidebar .icon-29:before {
    content: "a";
}

#weather-sidebar .icon-30:before {
    content: "A";
}

#weather-sidebar .icon-31:before {
    content: "6";
}

#weather-sidebar .icon-32:before {
    content: "1";
}

#weather-sidebar .icon-33:before {
    content: "6";
}

#weather-sidebar .icon-34:before {
    content: "1";
}

#weather-sidebar .icon-35:before {
    content: "W";
}

#weather-sidebar .icon-36:before {
    content: "1";
}

#weather-sidebar .icon-37:before {
    content: "S";
}

#weather-sidebar .icon-38:before {
    content: "S";
}

#weather-sidebar .icon-39:before {
    content: "S";
}

#weather-sidebar .icon-40:before {
    content: "M";
}

#weather-sidebar .icon-41:before {
    content: "W";
}

#weather-sidebar .icon-42:before {
    content: "I";
}

#weather-sidebar .icon-43:before {
    content: "W";
}

#weather-sidebar .icon-44:before {
    content: "a";
}

#weather-sidebar .icon-45:before {
    content: "S";
}

#weather-sidebar .icon-46:before {
    content: "U";
}

#weather-sidebar .icon-47:before {
    content: "S";
}

/* HOME SIDE MENU ENDS */


/* NOTIFICATION MENU */
.notification-li {
    position: relative;
}

    .notification-li .notification-container {
        background-color: #fff;
        border: 1px solid #646464;
        border: 1px solid rgba(100, 100, 100, .4);
        -webkit-box-shadow: 0 3px 8px #000000;
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        overflow: visible;
        position: absolute;
        top: 60px;
        margin-left: -170px;
        width: 400px;
        z-index: -1;
        display: none;
    }

        .notification-li .notification-container:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            color: transparent;
            border: 10px solid black;
            border-color: transparent transparent white;
            margin-top: -20px;
            margin-left: 188px;
        }

        .notification-li .notification-container .notification-title {
            z-index: 1000;
            font-weight: bold;
            padding: 8px;
            font-size: 13px;
            background-color: #ffffff;
            width: 384px;
        }

        .notification-li .notification-container hr {
            margin-top: 0;
            margin-bottom: 0;
            clear: both;
            border: 0;
            height: 1px;
            background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        }

        .notification-li .notification-container .notifications-body {
            padding: 33px 0px 0px 0px !important;
            min-height: 300px;
        }

        .notification-li .notification-container .notification-footer {
            background-color: #e9eaed;
            text-align: center;
            font-weight: bold;
            padding: 8px;
            font-size: 12px;
            border-top: 1px solid #dddddd;
        }

    .notification-li .notification-count {
        position: absolute;
        top: 10px;
        left: 25px;
        z-index: 1;
        cursor: pointer;
    }
/* NOTIFICATION MENU ENDS */

/* FRIEND REQUEST MENU */
.friend-request-li {
    position: relative;
}

    .friend-request-li .friend-request-container {
        background-color: #fff;
        border: 1px solid #646464;
        border: 1px solid rgba(100, 100, 100, .4);
        -webkit-box-shadow: 0 3px 8px #000000;
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
        overflow: visible;
        position: absolute;
        top: 60px;
        margin-left: -170px;
        width: 400px;
        z-index: -1;
        display: none;
    }

        .friend-request-li .friend-request-container:before {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            color: transparent;
            border: 10px solid black;
            border-color: transparent transparent white;
            margin-top: -20px;
            margin-left: 188px;
        }

        .friend-request-li .friend-request-container .friend-request-title {
            z-index: 1000;
            font-weight: bold;
            padding: 8px;
            font-size: 13px;
            background-color: #ffffff;
            width: 384px;
        }

        .friend-request-li .friend-request-container hr {
            margin-top: 0;
            margin-bottom: 0;
            clear: both;
            border: 0;
            height: 1px;
            background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        }

        .friend-request-li .friend-request-container .friend-request-body {
            padding: 33px 0px 0px 0px !important;
            min-height: 300px;
        }

        .friend-request-li .friend-request-container .friend-request-footer {
            background-color: #e9eaed;
            text-align: center;
            font-weight: bold;
            padding: 8px;
            font-size: 12px;
            border-top: 1px solid #dddddd;
        }

    .friend-request-li .friend-request-count {
        position: absolute;
        top: 10px;
        left: 25px;
        z-index: 1;
        cursor: pointer;
    }
/* NOTIFICATION MENU ENDS */

/* AVATAR UPLOAD */
#avatar-upload-form input[type="file"] {
    display: none;
}

#avatar-upload-form .custom-file-upload {
    display: inline-block;
    cursor: pointer;
}
/* AVATAR UPLOAD ENDS */

/* USER PROFILE */
header {
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    -ms-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    margin: 25px auto 50px;
    height: 300px;
    position: relative;
}

figure.profile-banner {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    max-width: 100%;
}

figure.profile-picture {
    background-position: center center;
    -ms-background-size: cover;
    background-size: cover;
    -ms-border-radius: 50%;
    border-radius: 50%;
    bottom: -50px;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);
    -ms-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);
    height: 148px;
    left: 150px;
    position: absolute;
    width: 148px;
    z-index: 3;
}

div.profile-stats {
    bottom: 0;
    left: 0;
    padding: 15px 15px 15px 350px;
    position: absolute;
    right: 0;
    z-index: 2;
    background: #000000;
    background: rgba(0,0,0,.5);
}

    div.profile-stats ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        div.profile-stats ul li a {
            color: #efefef;
            display: block;
            float: left;
            font-size: 24px;
            font-weight: bold;
            margin-right: 50px;
            -ms-text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
            text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
        }

            div.profile-stats ul li a:hover {
                color: #D91E17;
                cursor: pointer;
                font-size: 26px;
                margin-bottom: -5px;
            }

    div.profile-stats li span {
        display: block;
        font-size: 16px;
        font-weight: normal;
    }

    div.profile-stats .interact-area {
        margin: 10px;
    }

/**********************/
.frame-container .friend-list-header {
    background-color: #53A3CD;
    color: #fff;
    font-family: 'Segoe UI', Arial, sans-serif;
    padding: 0 20px 0 20px;
    height: inherit;
    cursor: pointer;
}

.frame-container .friend-title-header {
    -ms-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: -15px;
}

.frame-container .view-more-friend-title {
    -ms-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: -15px;
    margin-left: auto;
}

.friend-title-header h6, .view-more-friend-title h6 {
    margin-top: 40%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.frame-container .friend-list-avatar {
    display: block;
    float: left;
    overflow: hidden;
}

/*Image gallery*/
#photos-gallery .images-wrapper {
    position: relative;
    max-width: 100%;
    width: 100%;
    margin-top: 70px;
}

    #photos-gallery .images-wrapper .image-element {
        position: absolute;
        background: white;
        -ms-border-radius: 5px;
        border-radius: 5px;
        /*Transitions*/
        -webkit-transition: top 1s ease, left 1s ease;
        -moz-transition: top 1s ease, left 1s ease;
        -o-transition: top 1s ease, left 1s ease;
        -ms-transition: top 1s ease, left 1s ease;
    }

        #photos-gallery .images-wrapper .image-element img {
            -ms-border-radius: 5px;
            border-radius: 5px;
        }

            #photos-gallery .images-wrapper .image-element img:hover {
                cursor: pointer;
                -ms-opacity: 0.5;
                opacity: 0.5;
            }

        #photos-gallery .images-wrapper .image-element .post-actions li {
            margin: 7px;
        }

    #photos-gallery .images-wrapper .img-zoom {
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
    }

/* USER PROFILE ENDS */

/* YOTUBE UPLOAD */
#post-add-videos-wrapper input {
    margin: 5px 15px 5px 0;
}

#post-add-videos-wrapper .upload-button {
    margin: 5px 25px 0 -25px;
    height: 90px;
    padding: 30px 0;
    font-size: 20px;
    font-family: "Segoe UI Light", Arial, sans-serif;
}

textarea {
    height: 7em;
}
/* USER PROFILE ENDS */

/* SEARCH BAR START*/
.cls-select-label {
    color: #424242;
    font-size: 100%;
    line-height: 35px;
    padding-left: 10px;
    position: absolute;
    z-index: 20;
}

.cls-search-input {
    color: #afb4b6;
    font-weight: 300;
    padding-left: 72px;
    border-radius: 3px;
    padding-right: 24px;
    height: 35px;
    width: 100%;
}

.cls-search-i {
    font-size: 18px;
    right: 8px;
    top: 8px;
    color: #afb4b6;
    cursor: pointer;
    margin-left: -20px;
    position: absolute;
    z-index: 20;
}
/* SEARCH BAR ENDS*/

/* CUSTOMIZE SCROLL BAR*/
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #000000;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: #2DCC70;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* CUSTOMIZE SCROLL BAR ENDS*/

.boder-radius {
    -ms-border-radius: 8px !important;
    border-radius: 8px !important;
}

.border-radius-top-left {
    -ms-border-top-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.border-radius-top-right {
    -ms-border-top-right-radius: 8px !important;
    border-top-right-radius: 8px !important;
}

.border-radius-bottom-left {
    -ms-border-bottom-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}

.border-radius-bottom-right {
    -ms-border-bottom-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

.comment-box {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    height: 31px;
}
