body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f2f2f2 !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

img {
    max-width: 100%;
}

.modal {
    margin-top: 70px;
}

/* Nav bar customizations */
.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: #ffffff;
    background-color: rgba(255,255,255,.9);
    width: 100%;
    z-index: 2000;
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);

    margin-bottom: 80px
}

.navbar-custom .nav li a {
        display: block;
        color: #50c1e9;
    }

        .navbar-custom .nav li a.current, .navbar-custom .nav li a:active {
            border-bottom: 3px solid #50c1e9;
        }

    .navbar-custom .navbar-toggle {
        position: relative;
        background-color: #50c1e9;
        border-color: #50c1e9;
    }

        .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover {
            background-color: #50c1e9;
        }

        .navbar-custom .navbar-toggle .icon-bar {
            background-color: #ffffff;
            background-color: rgba(255,255,255,.9);
        }

    .navbar-custom .navbar-brand {
        -ms-opacity: .7;
        opacity: .7;
        -webkit-filter: alpha(opacity=70);
        -moz-filter: alpha(opacity=70);
        -o-filter: alpha(opacity=70);
        filter: alpha(opacity=70);
        -webkit-transition: opacity .4s ease-in-out;
        -moz-transition: opacity .4s ease-in-out;
        -ms-transition: opacity .4s ease-in-out;
        -o-transition: opacity .4s ease-in-out;
        transition: opacity .4s ease-in-out;
        padding: 5px 15px;
    }

        .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:hover {
            -ms-opacity: 1;
            opacity: 1;
            -webkit-filter: alpha(opacity=100);
            -moz-filter: alpha(opacity=100);
            -o-filter: alpha(opacity=100);
            filter: alpha(opacity=100);
        }

/* END Nav bar customizations */

.white-panel .divider {
    height: 1px;
    margin: 9.5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.body-content {
    margin-top: 10px;
}

.circle-image {
    -ms-border-radius: 50%;
    border-radius: 50%;
    padding: 3px;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.65);
    -ms-box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.65);
    box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.65);
}

.vertical-space-10 {
    height: 10px;
    width: 100%;
}

.vertical-space-15 {
    height: 15px;
    width: 100%;
    background-color: transparent;
}

.vertical-space-20 {
    height: 20px;
    width: 100%;
}

.vertical-space-25 {
    height: 25px;
    width: 100%;
}

.frame-container {
    background-color: #ffffff;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.padding-5 {
    padding: 5px;
    width: 60px;
}

.padding-top-30 {
    padding-top: 30px;
}

/* LOGIN FORM */
.login-modal-wrap {
    max-width: 400px;
}

.login-modal-body {
    padding: 4px;
}

.panel-login {
}

    .panel-login > .panel-heading {
        color: #00415d;
        background-color: #fff;
        border-color: #fff;
        text-align: center;
    }

        .panel-login > .panel-heading a {
            text-decoration: none;
            color: #666;
            font-weight: bold;
            font-size: 15px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }

            .panel-login > .panel-heading a.active {
                color: #029f5b;
                font-size: 18px;
            }

        .panel-login > .panel-heading hr {
            margin-top: 10px;
            margin-bottom: 0px;
            clear: both;
            border: 0;
            height: 1px;
            background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
            background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
        }

    .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
    }

    .panel-login input:hover,
    .panel-login input:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: #ccc;
    }

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

    .btn-login:hover,
    .btn-login:focus {
        color: #fff;
        background-color: #53A3CD;
        border-color: #53A3CD;
    }

.forgot-password {
    text-decoration: underline;
    color: #888;
}

    .forgot-password:hover,
    .forgot-password:focus {
        text-decoration: underline;
        color: #666;
    }

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

    .btn-register:hover,
    .btn-register:focus {
        color: #fff;
        background-color: #1CA347;
        border-color: #1CA347;
    }

.mg-btm {
    margin-bottom: 20px;
}

.social-box {
    margin: 0 auto;
    padding: 0 38px 20px 38px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
}

    .social-box a {
        font-weight: bold;
        font-size: 18px;
        padding: 8px;
    }

        .social-box a i {
            font-weight: bold;
            font-size: 20px;
        }

.map_canvas {
    height: 150px;
}
/* LOGIN FORM ENDS*/

/* POST FORM */
.share-post-box {
    max-width: 500px;
    margin: 0 auto;
    display: block;
    background-color: #f7f7f7;
    border-radius: 4px;
}

    .share-post-box .share {
        -webkit-transition: 0.1s ease-out height;
        -moz-transition: 0.1s ease-out height;
        -ms-transition: 0.1s ease-out height;
        -o-transition: 0.1s ease-out height;
        transition: 0.1s ease-out height;
        clear: both;
        background: white;
        border: 2px solid #dddddd;
        margin-bottom: 10px;
        position: relative;
    }

        .share-post-box .share .arrow {
            background: url(arrow.png) no-repeat #dddddd;
            position: absolute;
            width: 14px;
            height: 10px;
            left: 4px;
            display: inline;
            top: -10px;
            -webkit-transition: 0.3s ease-out all;
            -moz-transition: 0.3s ease-out all;
            -ms-transition: 0.3s ease-out all;
            -o-transition: 0.3s ease-out all;
            transition: 0.3s ease-out all;
        }

    .share-post-box .post-types li a {
        color: #085083;
        text-decoration: none;
    }

        .share-post-box .post-types li a.active {
            color: #404040;
        }

    .share-post-box .post-types {
        padding-left: 5px;
    }

    .share-post-box ul {
        list-style: none;
        margin-bottom: 9px;
    }

    .share-post-box .post-types li {
        display: inline;
        margin-right: 10px;
    }

.message {
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
}

#post-modal .panel {
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.privacy-dropdown {
    width: 100px;
}

#id-location-textbox {
}

.map-canvas {
    height: 150px;
}

.pac-container {
    /* put Google geocomplete list on top of Bootstrap modal */
    z-index: 9999;
}

.helper-elements-wrapper {
    margin-bottom: 20px;
}

    .helper-elements-wrapper input {
        -ms-border-radius: 0;
        border-radius: 0;
        margin-top: -20px;
    }

/* POST FORM ENDS*/

/* POST DETAIL*/
.post-area {
}

    .post-area .user-avatar {
        width: 46px;
        height: 46px;
        float: left;
        margin: 0 15px 0 0;
    }

    .post-area .user-name {
        font-weight: bold;
    }

    .post-area .post-time {
        color: #999;
        display: inline-block;
        font-size: 12px;
    }

    .post-area .post-info {
        width: 100%;
        margin-bottom: 20px;
    }

    .post-area .post-content {
        margin: 0 0 0 0;
        padding: 0 20px 20px 0;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

.comment-area {
    background-color: #f5f5f5;
    margin: 0 -15px -15px -15px;
}

    .comment-area .comment-stats {
        background-color: #f5f5f5;
        margin: 0 20px 12px 20px;
        padding: 0 0 0 0;
    }

.divide-area {
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    padding-bottom: 16px;
    margin: 0 -15px 0 -15px;
}

.comment-list .comment-detail {
    border-bottom: 0;
    margin: 0 -15px 0 -15px;
    min-height: 0;
    padding: 0 0 16px 35px;
    vertical-align: top;
}

    .comment-list .comment-detail .commenter-avatar {
        -ms-border-radius: 2px;
        border-radius: 2px;
        width: 30px;
        height: 30px;
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }

    .comment-list .comment-detail .commenter-name {
        font-weight: bold;
        color: #404040;
        font-size: 13px;
    }

    .comment-list .comment-detail .commenter-post-time {
        color: #999;
        font-size: 12px;
        margin-right: 8px;
    }

    .comment-list .comment-detail .comment-content {
        font-size: 13px;
    }

.comment-area .comment-textbox-wrapper {
    margin: 0 20px 0 20px;
    padding-bottom: 10px;
}

    .comment-area .comment-textbox-wrapper .comment-textbox {
        width: 100%;
        border: 1px solid #ddd;
        padding: 6px 8px;
        font-size: 12px;
    }
/* POST DETAIL ENDS */
