/* ------------------------------------- 
    JCrop customization
---------------------------------------- */

#preview-pane {
    position: absolute;
    left: -98px;
    z-index: 1;
    display: block;
}

    #preview-pane .preview-container {
        overflow: hidden;
        width: 200px;  /* ToDo - size of the crop window*/
        height: 200px; /* ToDo - size of the crop window*/
    }
