<html lang="en">
<head>
    <title>
        Help Center
    </title>
    <meta charset="utf-8" />
</head>
<body>
    <h2 style="text-align: center">Help Center</h2>

    <form class="form-inline" style="text-align: right">
        <div class="form-group">
            <div class="input-group">
                <input style="height: 46px; width: 900px" type="text" class="form-control" id="keywords" placeholder="What can we help you?">

            </div>
        </div>
        <a href="javascript:void(0)" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </form>

    <div class="col-md-12">
        <h3>Menu</h3>
        <!-- tabs left -->
        <div class="tabbable">
            <ul class="nav nav-pills nav-stacked col-md-3">
                <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                <li><a href="#createAccount" data-toggle="tab">Create Account</a></li>
                <li><a href="#profile" data-toggle="tab">Profile</a></li>
                <li><a href="#sharing" data-toggle="tab">Sharing</a></li>
                <li><a href="#chat" data-toggle="tab">Chat</a></li>
                <li><a href="#post" data-toggle="tab">Post</a></li>
                <li><a href="#report" data-toggle="tab">Report</a></li>
                <li><a href="#room" data-toggle="tab">Room</a></li>
            </ul>
            <div class="tab-content col-md-9">
                <div class="tab-pane active" id="login">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        <b>&nbsp;1.1.	How do I log into my Fly Away Plus account?</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <b>To log into your Fly Away Plus account:</b><br />
                                    <b>Step 1.</b> Make sure no one else is logged into Fly Away Plus on your computer<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    To log someone else out, click at the top right of your Fly Away Plus homepage and select Log Out<br />
                                    <b>Step 2.</b> Go to the top of <a href="http://flyaway.ga/Home/">www.flyaway.ga</a> and enter one of the following:<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    -	Email address: You can log in with any email address that is currently listed on your Fly Away Plus account<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    -	Username: You can also log in with your username<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    -	Phone number: If you have a mobile phone number confirmed on your account you can enter it here (skip the
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    zeros before the country code and any symbols)<br />
                                    <b>Step 3.</b> Enter your password<br />
                                    <b>Step 4.</b> Click Log In

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        <b>&nbsp;1.2.	How do I reset my password?</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <b>If you can't log into Fly Away Plus and need to reset your password:</b><br />
                                    <b>Step 1.</b> Click Login/Signup in the top right of <a href="http://flyaway.ga/">www.flyaway.ga</a><br />
                                    <b>Step 2.</b> Click <a href="http://flyaway.ga/Login/ForgotPassword">Forgot Password</a><br />
                                    <b>Step 3.</b> Type the email, phone number, full name or username associated with your account, then click Search and follow the on-screen instructions

                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        <b>&nbsp;1.3.	How do I log out of Fly Away Plus?</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <b>To log out of Fly Away Plus:</b><br />
                                    <b>Step 1.</b> Click avatar at the top right of any Fly Away Plus page<br />
                                    <b>Step 2.</b> Select Log Out<br />

                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        <b>&nbsp;1.4.	I can't log in.</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <b>If you're having trouble logging into your account here are a few things to try first:</b><br />
                                    •	Don't know your password? Learn how to <a href="http://flyaway.ga/Login/ForgotPassword">reset it.</a><br />
                                    •	Review the known login issues for troubleshooting tips and more information about specific login issues.

                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                        <b>&nbsp;1.5.	How do I change my password?</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <b>If you're logged into your FlyAwayPlus account, you can change your password from your settings. From there:</b><br />
                                    <b>Step 1.</b> Click Password<br />
                                    <b>Step 2.</b> Type your current and new password <br />
                                    <b>Step 3.</b> Click Save Changes<br />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="createAccount">
                    <div class="panel-group" id="accordionCreateAccount">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionCreateAccount" href="#collapseCreateAccount1">
                                        <b>&nbsp;2.1.	How do I sign up for Fly Away Plus?</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseCreateAccount1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <b>If you don't have a Fly Away Plus account, you can sign up for one in a few steps:</b><br />
                                    <b>Step 1.</b> Go to <a href="http://flyaway.ga/Home/">www.flyaway.ga</a><br />
                                    <b>Step 2.</b> If you see the signup form, fill out your name, email address or phone number, password, birthday and gender. If you
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    don't see the form, click Sign Up, then fill out the form.<br />
                                    <b>Step 3.</b> Click Sign Up.<br />

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionCreateAccount" href="#collapseCreateAccount2">
                                        <b>&nbsp;2.2.	What is the minimum password strength and how can I make my password strong?</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseCreateAccount2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    When you create a new password, make sure that it's at least 6 characters long. Try to use a complex combination of numbers, letters and punctuation marks.
                                    If you see a message letting you know the password you entered isn't strong enough, try mixing together uppercase and lowercase letters or making the password longer.
                                    The password you create should be easy for you to remember but hard for someone else to figure out. For extra security, your Fly Away Plus password should be different than the passwords you use to log into other accounts, like your email or bank account.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="profile">
                    <div class="panel-group" id="accordionProfile">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionProfile" href="#collapseProfile1">
                                        <b>&nbsp;3.1.	What is my profile?</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseProfile1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Your profile, is your collection of the photos, stories and experiences that tell your story. Your profile also includes your Timeline.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionProfile" href="#collapseProfile2">
                                        <b>&nbsp;3.2.	How do I add or change my profile picture?</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseProfile2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <b>Your profile picture helps people recognize you on Fly Away Plus. To add a profile picture or change your current profile picture:</b><br />
                                    <b>Step 1.</b> Go to your profile and hover over your profile picture.<br />
                                    <b>Step 2.</b> Click Update Profile Picture.<br />
                                    <b>Step 3.</b> You can:<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    o	Select a photo you've already uploaded or one you're tagged in.<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    o	Upload a photo from your computer.<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    o	Take a new photo.<br />
                                    <b>Step 4.</b> Crop your photo and click Crop and Save. If you don't want to crop your photo, click Skip Cropping in the bottom left,
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    then click Save Profile Picture.<br />
                                    <b>Note:</b> Your current profile picture is always public.

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionProfile" href="#collapseProfile3">
                                        <b>&nbsp;3.3.	How do I add or change my cover photo?</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseProfile3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    A cover photo is the larger photo at the top of your profile, above your profile picture. Like your profile picture, cover photos are public, which means anyone visiting your profile will be able to see them.<br />
                                    <p></p>
                                    <b>To add or change your cover photo:</b><br />
                                    <b>Step 1.</b> Go to your profile<br />
                                    <b>Step 2.</b> Click Add Cover Photo, or hover over your current cover photo and click Update Cover Photo<br />
                                    <b>Step 3.</b> Choose whether you want to upload a new photo or pick a photo from one of your existing photo albums<br />
                                    <b>Step 4.</b> Once you choose a photo, you can reposition it by clicking the image and dragging it up or down<br />
                                    <b>Step 5.</b> Click Save<br />

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordionProfile" href="#collapseProfile4">
                                        <b>&nbsp;3.4.	How do I post to my Timeline?</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseProfile4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <b>To create a new post:</b><br />
                                    <b>Step 1.</b> Click Post<br />
                                    <b>Step 2.</b> Type in any details you want to add<br />
                                    <b>Step 3.</b> You can also:<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    -	Tag friends<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    -	Add a location<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    -	Add a photo<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    -	Select privacy<br />
                                    <b>Step 4.</b> Click Post<br />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="sharing">
                    <div class="tab-pane" id="sharing">
                        <div class="panel-group" id="accordionSharing">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionSharing" href="#collapseSharing1">
                                            <b>&nbsp;4.1.	How do I upload photos?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSharing1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <b>To add and post photos to Fly Away Plus:</b><br />
                                        <b>Step 1.</b> Click Post.<br />
                                        <b>Step 2.</b> Click Photo.<br />
                                        <b>Step 3.</b> Select the photos you want to add to Fly Away Plus.<br />
                                        <b>Step 4.</b> Click Post.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionSharing" href="#collapseSharing2">
                                            <b>&nbsp;4.2.	How do I post a status update?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSharing2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>You can post a new status from the top of your Timeline or your News Feed. To post a status update:</b><br />
                                        <b>Step 1.</b> Type your update in the share menu on your Timeline or at the top of News Feed.<br />
                                        <b>Step 2.</b> You can also.<br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	 tag friends<br/>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	 add a location<br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	 add a photo<br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	 add a video<br />
                                        <b>Step 3.</b> Click Post.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionSharing" href="#collapseSharing3">
                                            <b>&nbsp;4.3.	How do I add videos to FlyAwayPlus?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSharing3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>To upload videos:</b><br />
                                        <b>Step 1.</b> Click Post at the top of your page.<br />
                                        <b>Step 2.</b> Add a location for your photo.<br />
                                        <b>Step 3.</b> Click <b>Video</b><br/>
                                        <b>Step 4.</b> Select the video you want to add to FlyAwayPlus.<br />
                                        <b>Step 5.</b> Enter title and description for your video.<br />
                                        <b>Step 6.</b> You can also:<br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	 tag friends<br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	 share what you're feeling or doing<br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	 add a location<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionSharing" href="#collapseSharing4">
                                            <b>&nbsp;4.4.	How do I share a link on FlyAwayPlus?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSharing4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>To share a link:</b><br />
                                        <b>Step 1.</b> Click on post to see the post details.<br />
                                        <b>Step 2.</b> Click Share.<br />
                                        <b>Step 3.</b> Enter contents you want to share.<br />
                                        <b>Step 4.</b> Click Share<br />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="chat">
                    <div class="tab-pane" id="chat">
                        <div class="panel-group" id="accordionChat">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionChat" href="#collapseChat1">
                                            <b>&nbsp;5.1.	How do I start chatting with a friend?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseChat1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <b>To open a chat with friend:</b><br />
                                        <b>Step 1.</b> Click Chat.<br />
                                        <b>Step 2.</b> Click the name of the friend you want to chat with.<br />
                                        <b>Step 3.</b> Once you open a chat with a friend, type your message and press <b>Enter</b>.<br />
                                        <b>Step 4.</b> Click Post.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionChat" href="#collapseChat2">
                                            <b>&nbsp;5.2.	How do I close or minimize a chat window?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseChat2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        To close a chat, click the x in the top-right corner of the window or press the Escape (esc) key on your keyboard.<br />
                                        <p></p>
                                        To minimize a chat so you can easily access it later, click the top of the chat window. To reopen a minimized chat, just click the collapsed tab.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionChat" href="#collapseChat3">
                                            <b>&nbsp;5.3.	How do I find friends on FlyAwayPlus?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseChat3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        After you join FlyAwayPlus, there are a few ways to find your friends or invite them to join:<br />
                                        <b>Search for friends:</b><br/>
                                        You can search for your friends by typing their names in the search bar.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="tab-pane" id="post">
                    <div class="tab-pane" id="post">
                        <div class="panel-group" id="accordionPost">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionPost" href="#collapsePost1">
                                            <b>&nbsp;6.1.	How do I comment on something I see on FlyAwayPlus?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsePost1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <b>To comment on something:</b><br />
                                        <b>Step 1.</b> Click the <b>Comment</b> link under the post or in the white box that says <b>Write a comment</b>.<br />
                                        <b>Step 2.</b> Type your comment.<br />
                                        <b>Step 3.</b> Press enter or return to publish it.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionPost" href="#collapsePost2">
                                            <b>&nbsp;6.2.	How do I mention people, Pages or rooms in a post or comment?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsePost2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>To mention a person, Page or room in a post or comment:</b><br />
                                        <b>Step 1.</b> Type their name with "@@" and then their name (for a person, Page or room).<br />
                                        <b>Step 2.</b> Select their name from the dropdown menu.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionPost" href="#collapsePost3">
                                            <b>&nbsp;6.3.	How do I delete or edit a comment I posted?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsePost3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>To delete a comment you posted:</b><br />
                                        <b>Step 1.</b> Hover over the comment and click  .<br />
                                        <b>Step 2.</b> Select <b>Delete</b>...<br />
                                        <b>Step 3.</b> Click <b>Delete</b><br />
                                        <b>To edit a comment you posted:</b><br />
                                        <b>Step 1.</b> Hover over the comment and click  .<br />
                                        <b>Step 2.</b> Select <b>Edit</b>...<br />
                                        <b>Step 3.</b> Make your changes and then press <b>Enter</b> or <b>Return</b> to post your updated comment, or <b>Esc</b> to cancel<br />
                                        Click <b>Edited</b> to view an edited comment's history.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionPost" href="#collapsePost4">
                                            <b>&nbsp;6.4.	How do I send a message?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsePost4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>To send a message:</b><br />
                                        <b>Step 1.</b> Click  <b>Messages</b> in the left menu.<br />
                                        <b>Step 2.</b> Select the person or people you want to message.<br />
                                        <b>Step 3.</b> Type your message and click <b>Send</b>.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionPost" href="#collapsePost5">
                                            <b>&nbsp;6.5.	 What happens when I message someone?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsePost5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        When you send someone a message, it gets delivered to their messages inbox.<br /><br/>
                                        If the person you messaged is on chat or uses Messenger, your message will appear as a chat conversation. If they have chat off, the message will appear in their message inbox and they will receive a notification. Once the person views your message, it will be marked as seen.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="report">
                    <div class="tab-pane" id="post">
                        <div class="panel-group" id="accordionReport">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionReport" href="#collapseReport1">
                                            <b>&nbsp;7.1.	Profiles</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseReport1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <b>To report a profile:</b><br />
                                        <b>Step 1.</b> Go to the profile you want to report.<br />
                                        <b>Step 2.</b> In the bottom right of the cover photo, click  and select Report.<br />
                                        <b>Step 3.</b> Follow the on-screen instructions.<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="room">
                    <div class="tab-pane" id="room">
                        <div class="panel-group" id="accordionRoom">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionRoom" href="#collapseRoom1">
                                            <b>&nbsp;8.1.	How do I create a room?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseRoom1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <b>To create a room:</b><br />
                                        <b>Step 1.</b> From your <a href="http://flyaway.ga/Home/">home page</a>, go to the <b>Discover Rooms</b> section on the left side menu and click <b>Create A Room</b>.<br />
                                        <b>Step 2.</b> Click <b>+ Create New Room</b> at the top of the page. A panel will appear, where you'll be able to add a room name, basic &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;information of room and select the privacy settings for your room. <br />
                                        <b>Step 3.</b> Click <b>Create</b> when you're done.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionRoom" href="#collapseRoom2">
                                            <b>&nbsp;8.2.	How do I join a room?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseRoom2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Go to the room you want to be part of and then click <b>Join Room</b> in the top-right corner. You can also join any public room that you see on the About page of someone's profile by clicking Join.
                                        You may have to wait for a room admin to approve your request. In some rooms, you can also be added by a friend who's already a member.<br />
                                        <b>Keep in mind when you join a room:</b><br/>
                                        •	People may see when you join a public or closed room or that you're a member of that room, like in News Feed or search.<br />
                                        •	When someone adds you to a public or closed room, others may see that you've been invited (ex: in News Feed or search). Once you visit a room you're invited to, you'll become a member and other people may see you joined. <br />
                                        •	Certain rooms on FlyAwayPlus are Secret and may not appear in search results. You can see them once a room member adds you.<br />
                                        •	You can see a list of your rooms on the left side of your home page under Rooms. Click <b>More</b> to see all of your rooms. You can also manage all of your rooms' settings.<br/>
                                        •	You can see all of your public rooms on your About page. Go to your profile, click <b>About</b> under your profile picture and scroll down to Rooms to see them.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionRoom" href="#collapseRoom3">
                                            <b>&nbsp;8.3.	How do I add new members to a room?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseRoom3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>To add new members to a room:</b><br />
                                        <b>Step 1.</b> Go to the room.<br />
                                        <b>Step 2.</b> Click the + <b>Add People to Room</b> field in the right column.<br />
                                        <b>Step 3.</b> Type your friends' names and click on them to add them to the room<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionRoom" href="#collapseRoom4">
                                            <b>&nbsp;8.4.	How do I post and share with a room?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseRoom4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        To post to a room, go to the room and then click the box that says <b>Write something</b>.<br />
                                        From here you can:<br/>
                                        •	Post an update<br />
                                        •	Add a photo or video<br />
                                        If you like, you can include your location and tag other members of the room in your post.<br />
                                        Room members get notified about all new posts in a room unless they choose to adjust their room notification settings. If room privacy is set to Closed or Secret, only room members will be able to see things that get posted in the room.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionRoom" href="#collapseRoom5">
                                            <b>&nbsp;8.5.	How do I comment on a post in a room?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseRoom5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        To comment on a post:<br />
                                        <b>Step 1.</b> Click <b>Comment</b> below a post.<br />
                                        <b>Step 2.</b> Write your comment.<br />
                                        <b>Step 3.</b> Press <b>Enter</b> (or <b>Return</b>) on your keyboard to post it.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionRoom" href="#collapseRoom6">
                                            <b>&nbsp;8.6.	How do I leave a room?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseRoom6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        To leave a room, go to the room and click <b>Joined</b> on the room cover photo. Then select <b>Leave Room</b> from the dropdown menu.<br />
                                        When you leave a room:<br/>
                                        •	Members won't be notified.<br />
                                        •	You're removed from the member list and the room will be removed from your list of rooms.<br />
                                        •	You'll no longer get room notifications.<br />
                                        •	People will no longer know when you've seen a room post, even if you saw it before you left the room.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionRoom" href="#collapseRoom7">
                                            <b>&nbsp;8.7.	How can I create a work portion on a room?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseRoom7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>Step 1.</b> Click on General tab on Room.<br />
                                        <b>Step 2.</b> Click Add  a work portion.<br />
                                        <b>Step 3.</b> Enter information.<br />
                                        <b>Step 4.</b> Click save.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionRoom" href="#collapseRoom8">
                                            <b>&nbsp;8.8.	How can I create an estimation for a trip?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseRoom8" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>Step 1.</b> Click on Estimation tab on Room.<br />
                                        <b>Step 2.</b> Click Add an estimation item.<br />
                                        <b>Step 3.</b> Enter information.<br />
                                        <b>Step 4.</b> Click save.<br />
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionRoom" href="#collapseRoom9">
                                            <b>&nbsp;8.9.	How can I create an event on Timeline?</b>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseRoom9" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <b>Step 1.</b> Click on Timeline tab on Room.<br />
                                        <b>Step 2.</b> Click on a time space on the calendar to add new event.<br />
                                        <b>Step 3.</b> Enter information.<br />
                                        <b>Step 4.</b> Click save.<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /tabs -->
    </div>

</body>
</html>

<script type="text/javascript" src="/Scripts/searchKeyword.js"></script>
<script type="text/javascript">

    var myHilitor;

    document.addEventListener("DOMContentLoaded", function () {
        myHilitor = new SearchKeyword("playground");
        myHilitor.setMatchType("left");
    }, false);

    document.getElementById("keywords").addEventListener("keyup", function () {
        myHilitor.apply(this.value);
    }, false);

</script>