<html lang="en">
<head>
    <title>
        Help Center
    </title>
    <meta charset="utf-8" />
</head>
<body>
    <h2 style="text-align: center">Help Center</h2>

    <form class="form-inline" style="text-align: right">
        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
                <input style="height: 46px; width: 900px" type="text" class="form-control" id="exampleInputAmount" placeholder="What can we help you?">

            </div>
        </div>
        <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </form>

    <div class="col-md-12">
        <h3>Menu</h3>
        <!-- tabs left -->
        <div class="tabbable">
            <ul class="nav nav-pills nav-stacked col-md-3">
                <li><a href="#a" data-toggle="tab">One</a></li>
                <li class="active"><a href="#b" data-toggle="tab">Two</a></li>
                <li><a href="#c" data-toggle="tab">Twee</a></li>
                <li><a href="#d" data-toggle="tab">Four</a></li>
                <li><a href="#e" data-toggle="tab">Five</a></li>
                <li><a href="#f" data-toggle="tab">Six</a></li>
            </ul>
            <div class="tab-content col-md-9">
                <div class="tab-pane active" id="a">Lorem ipsum dolor sit amet, charetra varius rci quis tortor imperdiet venenatis quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</div>
                <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                <div class="tab-pane" id="c">
                    Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis elementum auctor accumsan. Duis pharetra
                    varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae.
                </div>
                <div class="tab-pane" id="d">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                <div class="tab-pane" id="e">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                <div class="tab-pane" id="f">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>

            </div>
        </div>
        <!-- /tabs -->
    </div>

</body>
</html>

<style>
    .bgimg {
        background-image: url('~/Images/background/halong.jpg');
    }
</style>