
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/HomePage/carousel.css" rel="stylesheet" />
<link href="~/Content/HomePage/gridLayout.css" rel="stylesheet" />
<link href="~/Content/SearchPage/search.css" rel="stylesheet" />

<div class="container">
    <div class="cd-testimonials-wrapper">
        <ul class="cd-testimonials">
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="cd-author">
                    <img src="~/Images/avatar/avatar-1.jpg" alt="Author image">
                    <ul class="cd-author-info">
                        <li>MyName</li>
                        <li>CEO, AmberCreative</li>
                    </ul>
                </div>
            </li>
        </ul> <!-- cd-testimonials -->
    </div>

    <div class="nav-tabs-search-results-wrapper">
        <ul class="nav-tabs nav-tabs-search-results">
            <li class="nav-tab">
                <a class="btn btn-large btn-default active btn-bevel left-radius">Place (242)</a>
            </li>
            <li class="nav-tab">
                <a class="btn btn-large btn-default active btn-bevel left-radius">People (232)</a>
            </li>
        </ul>
    </div>
    <div style="padding-top:100px;">
        <section id="blog-landing">
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/07/Blog-Post-Imagery5.png" alt="ALT">
                <h1><a href="#">Putting users first with flat design</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit.</p>
                <div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2014/04/food-drink-expo.png" alt="ALT">
                <h1><a href="#">Is your website converting visits into sales? </a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2014/03/tile-app-2.jpg" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, </p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2014/03/Blog-Post-Imagery.png" alt="ALT">
                <h1><a href="#">Putting users first with flat design</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2014/03/Blog-Post-Image.png" alt="ALT">
                <h1><a href="#">Is your website converting visits into sales? </a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2014/03/Gateway.png" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2014/03/blog-digital.gif" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/04/designer.jpg" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JSx library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non so</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2014/02/shutterstock_133973084.jpg" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis.</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2014/03/blog-webdesign.gif" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2014/01/sky2.jpg" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2014/03/blog-ecommerce.gif" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/08/Blog-Post-Imagery2.png" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non </p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/10/Foursys3.png" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/10/Blog-Post-Imagery4.png" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/10/Blog-Post-Imagery3.png" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/09/Kiddiwinks-blog.png" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec,</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/08/shutterstock_120872494.jpg" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin </p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/08/Blog-Post-Imagery2.png" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. </p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/07/tech-blog.png" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/06/how-to-use-google-glass.jpg" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consevamus ullamcorper aliquam purus, et euismod justo. Nulla</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/06/DOG-SEO3.png" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. Vivamus ullamcorper aliquam purus, et euismod justo. Nulla</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/05/responsive.gif" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non sollicitudin elit. Curabitur magna ligula, condimentum sed lacus nec, vulputate cursus sem. Sed a semper felis. Curabitur ligula enim, auctor eget rutrum a, convallis non diam. </p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/04/web-design-2013.png" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
            <article class="white-panel">
                <img src="http://www.mediademon.com/wp-content/uploads/2013/04/Sales.jpg" alt="ALT">
                <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                <div class="divider"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p><div class="divider"></div>
                <div class="user-info">
                    <div class="avatar">
                        <img src="~/Images/avatar/avatar-1.jpg" alt="Username 1" class="img-circle" />
                    </div>
                    <div class="col-md-5">
                        <div class="name-user">Duc Filan</div>
                        <div class="post-time">6 hours ago</div>
                    </div>
                    <span class="glyphicon glyphicon-comment col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                    <span class="glyphicon glyphicon-heart col-md-2 pull-right" aria-hidden="true" style="font-size: larger"></span>
                </div>
            </article>
        </section>
    </div>
</div>

<script src="~/Scripts/carousel/masonry.pkgd.min.js"></script>
<script src="~/Scripts/carousel/jquery.flexslider-min.js"></script>
<script src="~/Scripts/carousel/main.js"></script>

<script src="~/Scripts/HomePage/pinterest_grid.js"></script>
<script>
    $(document).ready(function () {

        $('#blog-landing').pinterest_grid({
            no_columns: 4,
            padding_x: 20,
            padding_y: 20,
            margin_bottom: 50,
            single_column_breakpoint: 700
        });

    });
</script>

