@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/HomePage/carousel.css" rel="stylesheet" />
<link href="~/Content/HomePage/gridLayout.css" rel="stylesheet" />
<link href="~/Content/SearchPage/search.css" rel="stylesheet" />

<div class="container">
    <div class="full-width">
        <form class="navbar-form pull-left full-width" role="search">
            <div class="input-group full-width">
                <input type="text" class="form-control" style="max-width:1240px; width:70%" placeholder="Search">
                <div class="input-group-btn" style="float:left">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </form>
    </div>

    <div class="full-width">
        <h3><span class="label label-primary">Search Result for "Ha"</span></h3>
    </div>

    <div role="tabpanel" class="full-width">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="idBtnSearchPlace" href="#idSearchPlace" aria-controls="idSearchPlace" role="tab" data-toggle="tab">Place (242)</a></li>
            <li role="presentation"><a id="idBtnSearchPeople" href="#idSearchPeople" aria-controls="idSearchPeople" role="tab" data-toggle="tab">People (232)</a></li>
            <li role="presentation"><a id="idBtnSearchRoom" href="#idSearchRoom" aria-controls="idSearchRoom" role="tab" data-toggle="tab">Room (100)</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active full-width" id="idSearchPlace">
                <div class="full-width search-result" style="margin-top: 10px;">
                    <section id="idSearchPlaceResult">
                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/07/Blog-Post-Imagery5.png" alt="ALT">
                            <h1><a href="#">Putting users first with flat design</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/04/food-drink-expo.png" alt="ALT">
                            <h1><a href="#">Is your website converting visits into sales? </a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/tile-app-2.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/Blog-Post-Imagery.png" alt="ALT">
                            <h1><a href="#">Putting users first with flat design</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/Blog-Post-Image.png" alt="ALT">
                            <h1><a href="#">Is your website converting visits into sales? </a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/Gateway.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/blog-digital.gif" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/04/designer.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JSx library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/02/shutterstock_133973084.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/blog-webdesign.gif" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/01/sky2.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/blog-ecommerce.gif" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/08/Blog-Post-Imagery2.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/10/Foursys3.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/10/Blog-Post-Imagery4.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/10/Blog-Post-Imagery3.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/09/Kiddiwinks-blog.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/08/shutterstock_120872494.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/08/Blog-Post-Imagery2.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/07/tech-blog.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/06/how-to-use-google-glass.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/06/DOG-SEO3.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/05/responsive.gif" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/04/web-design-2013.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/04/Sales.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>
                    </section>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane full-width" id="idSearchPeople">
                <div>
                    <img class="img-responsive img-thumbnail img-circle full-width" src="../../../Images/avatar/avatar-1.jpg" />
                    <div class="oval-thought" style="display:none">
                        <img class="img-responsive img-thumbnail center-block" style="margin-top:30px" src="../../../Images/avatar/avatar-1.jpg" />
                        <div class=".center-block">
                            <span class="text-success">Hoang Nghia Duc</span>
                            <br />
                            <span class="text-success">Hien dang o Ha Noi</span>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="img-responsive img-thumbnail img-circle full-width" src="../../../Images/avatar/avatar-2.jpg" />
                    <div class="oval-thought" style="display:none">
                        <img class="img-responsive img-thumbnail center-block" style="margin-top:30px" src="../../../Images/avatar/avatar-1.jpg" />
                        <div class=".center-block">
                            <span class="text-success">Hoang Nghia Duc</span>
                            <br />
                            <span class="text-success">Hien dang o Ha Noi</span>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="img-responsive img-thumbnail img-circle full-width" src="../../../Images/avatar/avatar-3.jpg" />
                    <div class="oval-thought" style="display:none">
                        <img class="img-responsive img-thumbnail center-block" style="margin-top:30px" src="../../../Images/avatar/avatar-1.jpg" />
                        <div class=".center-block">
                            <span class="text-success">Hoang Nghia Duc</span>
                            <br />
                            <span class="text-success">Hien dang o Ha Noi</span>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="img-responsive img-thumbnail img-circle full-width" src="../../../Images/avatar/avatar-4.jpg" />
                    <div class="oval-thought" style="display:none">
                        <img class="img-responsive img-thumbnail center-block" style="margin-top:30px" src="../../../Images/avatar/avatar-1.jpg" />
                        <div class=".center-block">
                            <span class="text-success">Hoang Nghia Duc</span>
                            <br />
                            <span class="text-success">Hien dang o Ha Noi</span>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="img-responsive img-thumbnail img-circle full-width" src="../../../Images/avatar/avatar-5.jpg" />
                    <div class="oval-thought" style="display:none">
                        <img class="img-responsive img-thumbnail center-block" style="margin-top:30px" src="../../../Images/avatar/avatar-1.jpg" />
                        <div class=".center-block">
                            <span class="text-success">Hoang Nghia Duc</span>
                            <br />
                            <span class="text-success">Hien dang o Ha Noi</span>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="img-responsive img-thumbnail img-circle full-width" src="../../../Images/avatar/avatar-6.jpg" />
                    <div class="oval-thought" style="display:none">
                        <img class="img-responsive img-thumbnail center-block" style="margin-top:30px" src="../../../Images/avatar/avatar-1.jpg" />
                        <div class=".center-block">
                            <span class="text-success">Hoang Nghia Duc</span>
                            <br />
                            <span class="text-success">Hien dang o Ha Noi</span>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="img-responsive img-thumbnail img-circle full-width" src="../../../Images/avatar/avatar-1.jpg" />
                    <div class="oval-thought" style="display:none">
                        <img class="img-responsive img-thumbnail center-block" style="margin-top:30px" src="../../../Images/avatar/avatar-1.jpg" />
                        <div class=".center-block">
                            <span class="text-success">Hoang Nghia Duc</span>
                            <br />
                            <span class="text-success">Hien dang o Ha Noi</span>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="img-responsive img-thumbnail img-circle full-width" src="../../../Images/avatar/avatar-2.jpg" />
                    <div class="oval-thought" style="display:none">
                        <img class="img-responsive img-thumbnail center-block" style="margin-top:30px" src="../../../Images/avatar/avatar-1.jpg" />
                        <div class=".center-block">
                            <span class="text-success">Hoang Nghia Duc</span>
                            <br />
                            <span class="text-success">Hien dang o Ha Noi</span>
                        </div>
                    </div>
                </div>
                <div>
                    <img class="img-responsive img-thumbnail img-circle full-width" src="../../../Images/avatar/avatar-3.jpg" />
                    <div class="oval-thought" style="display:none">
                        <img class="img-responsive img-thumbnail center-block" style="margin-top:30px" src="../../../Images/avatar/avatar-1.jpg" />
                        <div class=".center-block">
                            <span class="text-success">Hoang Nghia Duc</span>
                            <br />
                            <span class="text-success">Hien dang o Ha Noi</span>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane full-width" id="idSearchRoom">
                <div class="full-width search-room search-result" style="margin-top: 10px;">
                    <section id="idSearchRoomResult">
                        <article class="white-panel">
                            <img src="../../../Images/background/halong.jpg" alt="ALT">
                            <h1><a href="#">Putting users first with flat design</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/04/food-drink-expo.png" alt="ALT">
                            <h1><a href="#">Is your website converting visits into sales? </a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/tile-app-2.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/Blog-Post-Imagery.png" alt="ALT">
                            <h1><a href="#">Putting users first with flat design</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/Blog-Post-Image.png" alt="ALT">
                            <h1><a href="#">Is your website converting visits into sales? </a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/Gateway.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/blog-digital.gif" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/04/designer.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JSx library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/02/shutterstock_133973084.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/blog-webdesign.gif" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/01/sky2.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2014/03/blog-ecommerce.gif" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/08/Blog-Post-Imagery2.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/10/Foursys3.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/10/Blog-Post-Imagery4.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/10/Blog-Post-Imagery3.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/09/Kiddiwinks-blog.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/08/shutterstock_120872494.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/08/Blog-Post-Imagery2.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/07/tech-blog.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/06/how-to-use-google-glass.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/06/DOG-SEO3.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/05/responsive.gif" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/04/web-design-2013.png" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>

                        <article class="white-panel">
                            <img src="http://www.mediademon.com/wp-content/uploads/2013/04/Sales.jpg" alt="ALT">
                            <h1><a href="#">Fantasy football and Raphaël: the vector graphic JS library</a></h1>
                            <div class="divider"></div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="oval-thought" style="display:none;float:left; width:200px;height:200px; max-height:100%;max-width:100%">
        <img class="img-responsive img-thumbnail center-block" style="margin-top:30px" src="../../../Images/avatar/avatar-1.jpg" />
        <div class=".center-block">
            <span class="text-success">Hoang Nghia Duc</span>
            <br />
            <span class="text-success">Hien dang o Ha Noi</span>
        </div>
    </div>


</div>

<script src="~/Scripts/carousel/masonry.pkgd.min.js"></script>
<script src="~/Scripts/carousel/jquery.flexslider-min.js"></script>
<script src="~/Scripts/carousel/main.js"></script>

<script src="~/Scripts/HomePage/pinterest_grid.js"></script>
<script>
    $(document).ready(function () {
        $('#idSearchPlaceResult').pinterest_grid({
            no_columns: 4,
            padding_x: 20,
            padding_y: 20,
            margin_bottom: 50,
            single_column_breakpoint: 700
        });

        $('#blog-landing').pinterest_grid({
            no_columns: 4,
            padding_x: 20,
            padding_y: 20,
            margin_bottom: 50,
            single_column_breakpoint: 700
        });

        $("#idBtnSearchRoom").one("click", function () {
            alert("x");
            $("#idSearchRoomResult").css("width", $("#idSearchPeopleResult").css("width"));
            $("#idSearchRoomResult").css("height", $("#idSearchPeopleResult").css("height"));
            $("#idSearchRoomResult").pinterest_grid({
                no_columns: 4,
                padding_x: 20,
                padding_y: 20,
                margin_bottom: 50,
                single_column_breakpoint: 700
            });
            //$("#idSearchRoomResult").find("img").css("max-width", "240px");
            //$("#idSearchRoomResult").find(".white-panel").css("width", "260px");

        });

        $("#idSearchPeople").find("img.img-circle")
            .mouseenter(function () {
                console.log("a");
                var parent = $(this).parent();
                var height = Number($(parent).height());
                var width = Number($(parent).width());

                $(parent).find("div").first().css("margin-top", -height/2 + "px");
                $(parent).find("div").first().css("margin-left", width / 2 + "px");
                $(parent).find("div").first().show();
            })
            .mouseleave(function () {
                $(this).parent().find("div").first().hide();
            })
    });
</script>