@{
    ViewBag.Title = "User Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/UserPage/WOW slider/wow-style.css" rel="stylesheet" />
<link href="~/Content/speech-buble.css" rel="stylesheet" />

<!-- Image Slide -->
<div>
    <!-- Start WOWSlider.com BODY section -->
    <div id="wowslider-container1">
        <div class="ws_images">
            <ul>
                <li><a href="#" target="_blank"><img src="~/Images/background/halong.jpg" alt="Ha Long" title="Ha Long" id="wows1_0" /></a></li>
                <li><a href="#" target="_blank"><img src="~/Images/background/nhatrang.jpg" alt="Nha Trang" title="Nha Trang" id="wows1_1" /></a></li>
                <li><a href="#" target="_blank"><img src="~/Images/background/sondoong.jpg" alt="Son Doong" title="Son Doong" id="wows1_2" /></a></li>
            </ul>
        </div>
        <div class="ws_shadow"></div>
    </div>
    <script src="~/Scripts/WOW slider/wowslider.js"></script>
    <script src="~/Scripts/WOW slider/script.js"></script>
    <!-- End WOWSlider.com BODY section -->
</div>

<!-- Ava + Info -->
<div class="col-md-12 frame-container padding-top-30">
    <div class="col-md-10">
        <div class="col-md-2">
            <img src="~/Images/avatar/avatar-1.jpg" class="circle-image" alt="Avatar" />
        </div>
        <div class="col-md-10">
            <p class="triangle-border left">I am Duc Filan, 22 years old, from Vinh city. I have travelled to 3 places in the world.<br /> Add me as your friend and be on my trips!</p>
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" style="margin-bottom: 5px; width: 100%">
            <span class="glyphicon glyphicon-plus"></span>
            Add as friend
        </button>
        <button class="btn btn-primary" style="margin-bottom: 5px; width: 100%">
            <span class="glyphicon glyphicon-envelope"></span>
            Conversation
        </button>
    </div>
</div>

<div class="vertical-space-15"></div>

<!-- Friend list -->
<div class="col-md-12 frame-container" style="margin-top: 30px">
    <h3 class="text-center text-capitalize">MY FRIENDS</h3>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-1.jpg" alt="Avatar"/>
        <p class="small text-center">Duc</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-2.jpg" alt="Avatar"/>
        <p class="small text-center">Hai</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-3.jpg" alt="Avatar"/>
        <p class="small text-center">Hieu</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-4.jpg" alt="Avatar"/>
        <p class="small text-center">Hoang</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-5.jpg" alt="Avatar"/>
        <p class="small text-center">Thuy</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-6.jpg" alt="Avatar"/>
        <p class="small text-center">Luc</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-1.jpg" alt="Avatar"/>
        <p class="small text-center">Duc</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-2.jpg" alt="Avatar"/>
        <p class="small text-center">Hai</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-3.jpg" alt="Avatar"/>
        <p class="small text-center">Hieu</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-4.jpg" alt="Avatar"/>
        <p class="small text-center">Hoang</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-5.jpg" alt="Avatar"/>
        <p class="small text-center">Thuy</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-6.jpg" alt="Avatar"/>
        <p class="small text-center">Luc</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-1.jpg" alt="Avatar"/>
        <p class="small text-center">Duc</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-2.jpg" alt="Avatar"/>
        <p class="small text-center">Hai</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-3.jpg" alt="Avatar"/>
        <p class="small text-center">Hieu</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-4.jpg" alt="Avatar"/>
        <p class="small text-center">Hoang</p>
    </div>
    <div class="padding-5 col-md-2">
        <img class="circle-image" height="50" src="~/Images/avatar/avatar-5.jpg" alt="Avatar"/>
        <p class="small text-center">Thuy</p>
    </div>
    <div class="padding-5 col-md-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">...</button>
    </div>
</div>

<!-- Timeline -->
<div class="container">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="timeline">
                <dl>
                    <dt>Apr 2015</dt>
                    <dd class="pos-right clearfix">
                        <div class="circ"></div>
                        <div class="time">Apr 14</div>
                        <div class="events">
                            <div class="pull-left">
                                <img class="events-object img-rounded" src="~/Images/avatar/avatar-1.jpg">
                            </div>
                            <div class="events-body">
                                <h4 class="events-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                <p>Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris.</p>
                            </div>
                        </div>
                    </dd>
                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">Apr 10</div>
                        <div class="events">
                            <div class="pull-left">
                                <img class="events-object img-rounded" src="~/Images/avatar/avatar-1.jpg">
                            </div>
                            <div class="events-body">
                                <h4 class="events-heading">Curabitur tortor. Pellentesque nibh. Aenean quam.</h4>
                                <p>In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.</p>
                            </div>
                        </div>
                    </dd>
                    <dt>Mar 2015</dt>
                    <dd class="pos-right clearfix">
                        <div class="circ"></div>
                        <div class="time">Mar 15</div>
                        <div class="events">
                            <div class="pull-left">
                                <img class="events-object img-rounded" src="~/Images/avatar/avatar-1.jpg">
                            </div>
                            <div class="events-body">
                                <h4 class="events-heading">Suspendisse in justo eu magna luctus suscipit.</h4>
                                <p>Sed lectus. Integer euismod lacus luctus magna. Quisque cursus, metus vitae pharetra auctor, sem massa mattis sem, at interdum magna augue eget diam. </p>
                            </div>
                        </div>
                    </dd>
                    <dd class="pos-left clearfix">
                        <div class="circ"></div>
                        <div class="time">Mar 8</div>
                        <div class="events">
                            <div class="pull-left">
                                <img class="events-object img-rounded" src="~/Images/avatar/avatar-1.jpg">
                            </div>
                            <div class="events-body">
                                <h4 class="events-heading">Integer lacinia sollicitudin massa. Cras metus.</h4>
                                <p>Sed aliquet risus a tortor. Integer id quam. Morbi mi. Quisque nisl felis, venenatis tristique, dignissim in, ultrices sit amet, augue. Proin sodales libero eget ante. Nulla quam. Aenean laoreet. Vestibulum nisi lectus, commodo ac, facilisis ac, ultricies eu, pede. Ut orci risus, accumsan porttitor, cursus quis, aliquet eget, justo. Sed pretium blandit orci.</p>
                            </div>
                        </div>
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 40px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Friend List</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @for (int i = 0; i < 10; i++)
                    {
                        <div class="padding-5 col-md-2">
                            <img class="circle-image" height="50" src="~/Images/avatar/avatar-1.jpg" alt="Avatar" />
                            <p class="small text-center">Duc</p>
                        </div>
                        <div class="padding-5 col-md-2">
                            <img class="circle-image" height="50" src="~/Images/avatar/avatar-2.jpg" alt="Avatar" />
                            <p class="small text-center">Hai</p>
                        </div>
                        <div class="padding-5 col-md-2">
                            <img class="circle-image" height="50" src="~/Images/avatar/avatar-3.jpg" alt="Avatar" />
                            <p class="small text-center">Hieu</p>
                        </div>
                        <div class="padding-5 col-md-2">
                            <img class="circle-image" height="50" src="~/Images/avatar/avatar-4.jpg" alt="Avatar" />
                            <p class="small text-center">Hoang</p>
                        </div>
                        <div class="padding-5 col-md-2">
                            <img class="circle-image" height="50" src="~/Images/avatar/avatar-5.jpg" alt="Avatar" />
                            <p class="small text-center">Thuy</p>
                        </div>
                        <div class="padding-5 col-md-2">
                            <img class="circle-image" height="50" src="~/Images/avatar/avatar-6.jpg" alt="Avatar" />
                            <p class="small text-center">Luc</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>