@{
    ViewBag.Title = "User Detail";
}
<div style="width: 100%; text-align: center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="../../data/img/img_chania.jpg" alt="Chania" width="460" height="345" />
            </div>
            <div class="col-sm-8">
                <table class="table">
                    <tbody>
                        <tr class="success">
                            <td>Name</td>
                            <td>Nguyen Minh Hoang</td>
                        </tr>
                        <tr class="danger">
                            <td>Sex</td>
                            <td>Male</td>
                        </tr>
                        <tr class="success">
                            <td>Email</td>
                            <td>hoangnmse02819@fpt.edu.vn</td>
                        </tr>
                        <tr class="danger">
                            <td>Tel</td>
                            <td>0988888888</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-default">Follow</button>
                <button type="button" class="btn btn-primary">Unfollow</button>
            </div>
        </div>
    </div>
    <p></p>
    
    <p></p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Post 1</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Post 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Adam</td>
            </tr>
        </tbody>
    </table>
</div>