.full-width {
    width: 100%;
}

div .full-width {
    display: block;
    float: left;
}

h3 {
    margin-top: 0px !important;
}

.nav-tabs > li {
    width: 33.333333%;
}

    .nav-tabs > li > a {
        text-align: center;
        text-transform: uppercase;
    }

div .search-result > section {
    position: relative;
    max-width: 100%;
    width: 100%;
}

#idSearchPeople > div {
    width: 19%;
    float: left;
    padding: 5px;
}

.oval-thought::before {
    background: #075698 none repeat scroll 0 0;
    border-radius: 30px;
    bottom: -20px;
    content: "";
    height: 30px;
    left: 50px;
    position: absolute;
    width: 30px;
}

.oval-thought::after {
    background: #075698 none repeat scroll 0 0;
    border-radius: 15px;
    bottom: -30px;
    content: "";
    height: 15px;
    left: 30px;
    position: absolute;
    width: 15px;
}

.oval-thought {
    background: rgba(0, 0, 0, 0) linear-gradient(#2e88c4, #075698) repeat scroll 0 0;
    border-radius: 220px / 120px;
    color: #fff;
    /*margin: 1em auto 80px;
    padding: 50px 40px;*/
    position: absolute;
    text-align: center;
    width: 270px;
    float:left;
    width:200px;
    height:200px;
    max-height:100%;
    max-width:100%;
}