
@{
    ViewBag.Title = "Search result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 100%; text-align: center">
    <h2>@ViewBag.Title</h2>
</div>
<div class="container">
    <p></p>
    <h3 style="color:chartreuse">Search result for ""</h3>
    <div class="row">
        <div class="col-sm-1"><a href="">Place</a></div>
        <div class="col-sm-1"><a href="">Food</a></div>
        <div class="col-sm-1"><a href="">User</a></div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Place</th>
                <th>Description</th>
                <th>Posted by</th>
                <th>Date posted</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Place 1</th>
                <th>Description 1</th>
                <th>User 1</th>
                <th>1/1/2011</th>
            </tr>
            <tr>
                <th>Place 2</th>
                <th>Description 2</th>
                <th>User 2</th>
                <th>2/2/2012</th>
            </tr>
            <tr>
                <th>Place 3</th>
                <th>Description 3</th>
                <th>User 3</th>
                <th>3/3/2013</th>
            </tr>
        </tbody>
    </table>
</div>